<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://thymeleaf.org"
      layout:decorate="~{Layouts/ErrorLayout}"
      th:with="currentPage='error'">
<head>
    <meta charset="UTF-8">
    <title>Необработанная ошибка</title>
</head>
<body>
<section class="container" layout:fragment="content">
    <a href="../">
        <span id="logo" aria-label="Gradeo"></span>
    </a>
    <p>
        <ins>
            <span data-type="trSpan">Упс, ошибка!</span>
        </ins>
    </p>
    <p>
        <span data-type="trSpan">Произошла необработанная ошибка. Свяжитесь с техподдержкой сервиса.</span>
    </p>
    <ins>
        <span data-type="trSpan">Код ошибки: </span> <span th:text="${error_status_code}"></span>
        <span data-type="trSpan"><a href="../">Вернуться на главную</a></span>
    </ins>
</section>
</body>
</html>
