<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{Layouts/Layout}"
      th:with="currentPage='tasks/new/subjectId'+ ${createTaskDto.subjectId}">
<head>
    <meta charset="UTF-8">
    <title>Новое задание </title>
</head>
<body>
<header></header>
<section layout:fragment="content">
    <div class="container">
        <div class="w-100 my-3 mx-0 mx-sm-0 d-flex align-items-center justify-content-between">
            <p class="h4 mb-0">Добавить новое задание</p>
        </div>
        <div class="row">
            <form th:action="@{/tasks/new/subjectId}" th:object="${createTaskDto}" th:method="post"
                  class="col-12 col-sm-10 col-md-8 col-lg-6">

                <div class="form-group">
                    <label th:for="name" th:text="'Задания для предмета ' + ${subject.name}"></label>
                    <input type="text" id="name" th:field="*{name}"
                           th:classappend="${#fields.hasErrors('name')} ? 'is-invalid'"
                           class="form-control"
                           placeholder="Введите задание">
                    <div class="invalid-feedback" th:if="${#fields.hasErrors('name')}" th:errors="*{name}">
                    </div>
                </div>
                <div class="form-group">
                    <label th:for="type">Тип задания</label>
                    <select id="type"
                            name="type"
                            class="form-control"
                            th:field="*{type}"
                            th:classappend="${#fields.hasErrors('type')} ? 'is-invalid'">
                        <option value="" default hidden>Выберите тип задания</option>
                        <option value="LABORATORY">Лабораторная работа</option>
                        <option value="PRACTICAL">Практическая работа</option>
                        <option value="COURSE">Курсовая работа</option>
                        <option value="TEST">Контрольная работа</option>
                        <option value="GRADUATE">Дипломная работа</option>
                        <option value="PAYMENT_AND_GRAPHIC">Расчетно-графическая работа</option>
                        <option value="ESSAY">Доклад</option>
                        <option value="SPECIFIC">Другое</option>
                    </select>
                    <div class="invalid-feedback" th:if="${#fields.hasErrors('type')}" th:errors="*{type}"></div>
                </div>

                <input hidden id="subjectId" name="subjectId" th:value="${subject.id}" class="form-control"/>
                <button type="submit" class="btn btn-success" id="create-subject-button">Добавить</button>
            </form>
        </div>
    </div>
</section>
<footer></footer>
</body>
</html>