<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{Layouts/Layout}"
      th:with="currentPage='tasks/edit'">
<head>
    <meta charset="UTF-8">
    <title>Редактировать задание</title>
</head>
<body>
<body>
<header></header>
<section layout:fragment="content">
    <div class="container">
        <div class="row my-3 mx-1 mx-sm-0 d-flex align-items-center justify-content-between">
            <p class="h4 mb-0">Редактирование задания</p>
            <form th:action="@{/tasks/delete/{id}(id=${task.id})}" th:method="post">
                <button type="submit" class="btn btn-danger" id="delete-subject-button">Удалить</button>
            </form>
        </div>
        <div class="row">
            <form th:action="@{/tasks/edit}" th:object="${task}" th:method="post"
                  class="col-12 col-sm-10 col-md-8 col-lg-6">
                <input type="hidden" id="id" name="id" th:value="${task.id}" class="form-control" hidden>
                <div class="form-group">
                    <label th:for="name" th:text="'Задание для предмета ' + ${task.name}"></label>
                    <input type="text" id="name" th:field="*{name}"
                           th:classappend="${#fields.hasErrors('name')} ? 'is-invalid'"
                           class="form-control"
                           placeholder="Введите задание">
                    <div class="invalid-feedback" th:if="${#fields.hasErrors('name')}" th:errors="*{name}">
                    </div>
                </div>

                <div class="form-group">
                    <label>Тип задания</label>
                    <select id="taskType"
                            name="taskType"
                            class="form-control"
                            th:field="*{type}" th:default="${task.type}"
                            th:classappend="${#fields.hasErrors('type')} ? 'is-invalid'">
                        <option th:value="'LABORATORY'" th:text="'Лабораторная работа'"/>
                        <option th:value="'PRACTICAL'" th:text="'Практическая работа'"/>
                        <option th:value="'COURSE'" th:text="'Курсовая работа'"/>
                        <option th:value="'TEST'" th:text="'Контрольная работа'"/>
                        <option th:value="'GRADUATE'" th:text="'Дипломная работа'"/>
                        <option th:value="'PAYMENT_AND_GRAPHIC'" th:text="'Расчетно-графическая работа'"/>
                        <option th:value="'ESSAY'" th:text="'Доклад'"/>
                        <option th:value="'SPECIFIC'" th:text="'Другое'"/>
                    </select>
                    <div class="invalid-feedback" th:if="${#fields.hasErrors('type')}"
                         th:errors="*{type}"></div>
                </div>

                <input hidden id="subjectId" name="subjectId" th:value="${task.subjectId}"/>
                <button type="submit" class="btn btn-success" id="edit-subject-button">Сохранить</button>
            </form>
        </div>
    </div>
</section>
<footer></footer>
</body>

</body>
</html>