<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{Layouts/Layout}"
      th:with="currentPage='tasks/view/' + ${task.id}">
<head>
    <meta charset="UTF-8">
    <title>Просмотр задания</title>
</head>
<body>
<header></header>
<section layout:fragment="content">
    <div class="container">

        <div class="row my-3 mx-1 mx-sm-0 d-flex align-items-center justify-content-between">
            <p class="h4 mb-0">Просмотр задания</p>
        </div>

        <div class="row" th:object="${task}">
            <div class="col-12 col-sm-10 col-md-8 col-lg-6">
                <p th:text="'Предмет - ' + *{subjectName}"></p>
                <p th:text="'Задание - ' + *{name}"></p>
            </div>
            <input type="hidden" id="taskId" name="taskId" th:value="${task.id}" class="form-control" hidden>
        </div>

        <div class="form-group">
            <div class="row bg-white">
                <table class="table table-bordered table-striped mb-0" id="assessmentTable">
                    <thead>
                    <tr>
                        <th scope="col">
                            <b>Студент</b>
                        </th>
                        <th scope="col">
                            <b>Оценка</b>
                        </th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:if="${not #lists.isEmpty(assessments)}" th:each="assessment: ${assessments}">
                        <td>
                            <a th:href="@{'/assessments/set/taskId/'+${task.id}+'/studentId/'+${assessment.studentId}}"
                               th:text="${assessment.studentName}"></a>
                        </td>
                        <td th:text="${assessment.score}">
                        </td>
                        <td th:text="${assessment.id}" hidden>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div>
            <a class="btn btn-info" th:href="@{/tasks/edit/{id}(id=${task.id})}">Редактировать задание</a>
            <a class="btn btn-info" th:href="@{/assessments/set/taskId/{id}(id=${task.id})}">Задать оценку</a>
        </div>
    </div>
</section>
<footer></footer>
</body>
</html>