.menu .card {
    background: #ffffff;
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.25);
    border: none;
    border-radius: 4px;
    width: 128px;
    height: 100px;
    display: flex;
    flex-direction: column;
    text-decoration: none;
}

.menu .card:hover,
.menu .card:focus {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    text-decoration: none;
}

.menu .card .card-title {
    font-size: 16px;
    font-weight: 500;
    line-height: 32px;
    margin-bottom: 0;
    margin-block-start: 0;
    margin-block-end: 0;
    color: #383838;
}

.menu .card img {
    min-width: 48px;
    min-height: 48px;
    margin: 4px;
    margin-bottom: 0px;
}



