* {
    margin: 0;
    padding: 0
}

html, code {
    font: 15px/22px arial, sans-serif
}

html {
    background: #fff;
    color: #222;
    padding: 15px
}

body {
    margin: 7% auto 0;
    max-width: 700px;
    min-height: 180px;
    padding: 30px 0 15px;
    font: 15px/22px arial, sans-serif
}

* > body {
    background: url(//www.google.com/images/errors/robot.png) 100% 70px no-repeat;
    padding-right: 200px
}

p {
    margin: 11px 0 22px;
    overflow: hidden
}

ins {
    color: #777;
    text-decoration: none
}

a img {
    border: 0
}

@media screen and (max-width: 772px) {
    body {
        background: none;
        margin-top: 0;
        max-width: none;
        padding-right: 0
    }
}

#logo {
    background: url(/../../img/logo150x54.svg) no-repeat;
    display: inline-block;
    height: 62px;
    width: 200px;
    margin-left: 8px;
}

@media only screen and (min-resolution: 192dpi) {
    #logo {
        background: url(/../../img/logo150x54.svg) no-repeat 0% 0%/100% 100%;
        -moz-border-image: url(/../../img/logo150x54.svg) 0
    }
}

@media only screen and (-webkit-min-device-pixel-ratio: 2) {
    #logo {
        background: url(/../../img/logo150x54.svg) no-repeat;
        -webkit-background-size: 100% 100%
    }
}

[data-type="trSpan"][data-selected="true"] {
    color: #222 !important;
    background: #cce4f7 !important;
}