body {
   background-color: #FDFDFF !important;
}
.search_add{
    margin: 44px;
    display: flex;
    justify-content: space-between;
}
.button_new {
    display: flex;
    box-shadow: 1px 1px 7px 2px rgba(147, 164, 149, 0.48);
	text-decoration: none;
	font-size: 18px;
	border: none;
	border-radius: 4px;
    color: white;
    padding-right: 12px;
    padding-left: 12px;
    text-align: center;
	background-color: rgba(123, 201, 111, 0.8);
}
.text_add{
margin: auto 8px;
margin-left: none;
}
a.button_new:hover{
    color: white;
}
.button_new:active{
background-color: rgba(88, 159, 77, 0.8);
}
/*Search form*/
.form_search{
    display: flex;
}

input[type="checkbox"] { display: none; }

input[type="checkbox"] + label {
    display: block;
    position: relative;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

input[type="checkbox"] + label:last-child { margin-bottom: 0; }

input[type="checkbox"] + label:before {
    padding: 8px 6px 10px 8px;
    width: 44px;
    height: 44px;
    content: url(../../img/icons/parameters.svg);
    border-radius: 4px 0 0 4px;
    border: 1px solid rgba(204, 204, 204, 1);
    border-right: none;
    position: inherit;
    display: inherit;
    background: white;
}

input[type="checkbox"]:checked + label:before {
    content: url(../../img/icons/parameters_active.svg);
    border: 1px solid rgba(204, 204, 204, 1) !important;
    border-right: none !important;
    outline: none;
}


.search_inst{
    width: 208px;
    height: 44px;
    outline: none;
    border-radius: 0;
    border: 1px solid rgba(204, 204, 204, 1);
    border-right: none;
    border-left: none;
}
input::placeholder{
  color: #CCCCCC;
}
.submit_search{
    min-width: 44px;
    height: 44px;
    padding-right: 0;
    padding-left: 0;
    outline: none;
    border-radius: 0 4px 4px 0;
    border: 1px solid rgba(204, 204, 204, 1);
    border-left: none;
    background: url(../../img/icons/search.svg) no-repeat center;
    background-color: white;
}
.submit_search:focus{
    outline: none;
}
/*Parametry*/
.parameters_wrap{
    display: flex;
    justify-content: flex-start;
    margin-left: 44px;
    max-width: 680px;
    min-width: 680px;
}
.parameters_id_str{
    width: 136px;
    border-radius: 4px;
    border: 1px solid  rgba(204, 204, 204, 1);
    color: #838383;
    padding: 8px 6px 8px 6px;
    margin-right: 16px;
}
.parameters_id_str:hover{
    outline: none;
}
.parameters_id_str:focus{
    outline: none;
}
.btn_filter{
   background-color: none;
   border-radius: 4px;
   font-size: 16px;
   border: 1px solid  rgba(204, 204, 204, 1);
   color: #838383;
   padding: 10.5px 6px 10.5px 6px;
}
.btn_filter:focus{
    outline: 0;
}
.btn_filter:active{
    outline: 0;
}
/*List of instituts*/
.container_inst{
    margin: 44px;
}
.list_inst{
    display: flex;
    justify-content: space-between;
    border-radius: 4px;
    background-color: white;
    box-shadow: 1px 1px 4px 2px rgba(147, 164, 149, 0.28);
    margin-bottom: 16px;
}
.list_inst:hover{
    background-color: #FBFBFB;
}
.name_inst_text{
    margin: 16px;
    text-decoration:none;
    color: #646464;
    font-weight: bold;
    letter-spacing: 1px;
}
.depar_wrap{
display: flex;
}
.icon_depar{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 8px;
}
.inst_depar{
    margin: 16px 4px;
    color: #C4C4C4;
 }
.num_depar{
    display: flex;
    align-items: center;
    justify-content: center;
    color: #838383;
   	margin-right: 16px;
}
a:hover{
    text-decoration: none;
}

/*Pagination*/
.pagin{
    margin: 44px auto;
    justify-content: center;
}
ul.pagin_ul{
    padding-left: 0 !important;
    justify-content: center;
    margin: 0 auto;
	list-style:none;
	text-decoration: none;
	display: flex;
}
.list{
	margin: 12px;
}
.start_end{
	color: #999999;
	font-weight: lighter;
    letter-spacing: 1px;
}
.start_end:hover{
    color: #999999;
}
a.page_num{
  text-decoration: none;
  color: #383838;
  font-weight: bold;
}

.button_new_mobile{
    display: none;
    position: fixed;
 	right: 12px;
 	bottom: 24px;
 	z-index: 2;
    height: 56px;
	width: 56px;
	border-radius: 50%;
	border: none;
	font-weight: lighter;
	padding: 18px;
	background-color: #7BC96F;
	box-shadow: 1px 1px 7px 2px rgba(147, 164, 149, 0.48);
}


/*For mobile*/
@media screen and (max-width: 772px){
.search_add{
    margin-left: 0;
    margin-right: 0;
}
/*Button add +  from desktop*/
.button_new{
    display: none;
}

a.button_new_mobile:hover{
    font-color: white;
}
.button_new_mobile{
    display: block;
}
/*Search button*/
.submit_search{
     min-width: 80px;
     background: url(../../img/icons/white_search.svg) no-repeat center;
     background-color: #7BC96F;
}
.parameters_wrap{
    margin-left: 0;
}
.btn_filter{
    display: none;
}
.container_inst{
    margin-left: 0;
    margin-right: 0;
}
.name_inst_text{
    font-size: 14px;
}
.inst_depar{
    display: none;
}
.num_depar{
    font-size: 14px;
    padding-left: 8px;
}

.pagin{
    display: none;
}

}

@media screen and (max-width: 455px){
.form_search_wrap{
    width: 100%;
}
.form_search{
    width: 100%;
}
.search_inst{
    width: 296px !important;
    min-width: 144px;
}

}






