<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{Layouts/Layout}"
      th:with="currentPage='institutes'">
<head>
    <title>Институты</title>
    <link rel="stylesheet" th:href="@{/css/ui/institute.css}">
    <script type="text/javascript">
        $(document).ready(function () {
            $('.parameters_wrap').hide();
        });
    </script>
</head>
<body>
<section class="container" layout:fragment="content">

    <div class="search_add">
        <div class="form_search_wrap">
            <form action="/institutes"
                  class="form_search">
                <div class="parameters">
                <input id="param" type="checkbox" onclick="show()"/>
                <label for="param"></label>
                </div>
                <script type="text/javascript">
                    function show() {
                        if ($('.parameters_wrap').is(":visible")) {
                            $('.parameters_wrap').hide();
                        } else {
                            $('.parameters_wrap').show()
                        }
                    }
                    show();
                </script>

                <input name="name" class="search_inst" placeholder="Введите название"
                       aria-label="Search">
                <button class="submit_search" type="submit">
                </button>
            </form>
        </div>


            <a id="new-institute-button" th:href="@{/institutes/new}" class="button_new">
                <p class="text_add">Добавить</p>
                <img th:src="@{img/ui/main-menu/pluce.svg}" class="pluce_svg">
            </a>

    </div>


    <div class="parameters_wrap">
        <form action="/institutes"
              class="form_action">

            <select th:with="fromId = 'По ID', fromName = 'По названию'"
                    name="sort"
                    class="parameters_id_str">
                <option value="id" th:text="'По ID'" th:selected="${sort=='id'}"/>
                <option value="name" th:text="'По названию'" th:selected="${sort=='name'}"/>
            </select>

            <select name="size"
                    class="parameters_id_str">
                <option value="10" th:text="'10 строк'" th:selected="${size==10}"/>
                <option value="20" th:text="'20 строк'" th:selected="${size==20}"/>
                <option value="50" th:text="'50 строк'" th:selected="${size==50}"/>
            </select>
        </form>
        <form action="/institutes">
            <button class="btn_filter" type="submit">Сбросить фильтр</button>
        </form>
    </div>

    <div class="container_inst">
        <div class="wrap_inst" th:if="${not #lists.isEmpty(model.entityListItemDto)}"
             th:each="institute: ${model.entityListItemDto}">
            <a th:href="@{institutes/edit/{id}(id=${institute.id})}" class="list_inst">
                <div class="name_inst">
                    <div class="name_inst_text" th:text="${institute.name}"/>
                </div>

                <div class="depar_wrap">
                    <div class="icon_depar">
                        <img th:src="@{img/icons/depar.svg}" alt="">
                    </div>
                    <div class="inst_depar">
                        <div class="text">Кафедры:</div>
                    </div>
                    <div class="num_depar">
                        <div class="text" th:text="${institute.departmentsCount}"/>
                    </div>
                </div>
            </a>

            <div th:if="${#lists.isEmpty(model.entityListItemDto)}">
                <div colspan="3">
                    <div align="center">Нет результатов</div>
                </div>
            </div>
        </div>
    </div>


    <nav aria-label="" class="pagin">
        <ul class="pagin_ul">
            <li class="list"
                th:classappend="${model.currentPage == 0} ? 'disabled' : 'active'">
                <a class="start_end"
                   th:href="@{institutes(size=${size}, page=${0}, sort=${sort}, name=${name}, isDeleted=${isDeleted})}"
                   th:text="'В начало'"/>
            </li>
            <li class="list"
                th:classappend="${model.currentPage == 0} ? 'disabled'">

                    <a class="strel_l_a"
                       th:href="@{institutes(size=${size}, page=${model.currentPage - 1}, sort=${sort}, name=${name}, isDeleted=${isDeleted})}">
                        <img th:src="@{img/icons/arrow_left.svg}">
                    </a>
            </li>
            <li class="list"
                th:classappend="'disabled'"
                th:if="${model.currentPage} > 5">
                <a class="page_num"
                   th:text="'...'"/>
            </li>
            <li class="list"
                th:each="num : ${#numbers.sequence(model.start,model.end)}"
                th:classappend="${num == model.currentPage + 1} ? 'active'">

                <a class="page_num"
                   th:href="@{institutes(size=${size}, page=${num - 1}, sort=${sort}, name=${name}, isDeleted=${isDeleted})}"
                   th:text="${num}"/>
            </li>
            <li class="list"
                th:classappend="'disabled'"
                th:if="${model.currentPage} < ${model.totalPages} - 6">
                <a class="page_num"
                   th:text="'...'"/>
            </li>
            <li class="list"
                th:classappend="${model.currentPage == model.totalPages - 1} ? 'disabled'">
                <a class="strel_r_a"
                       th:href="@{institutes(size=${size}, page=${model.currentPage + 1}, sort=${sort}, name=${name}, isDeleted=${isDeleted})}">
                    <img th:src="@{img/icons/arrow_right.svg}">
                </a>

            </li>
            <li class="list"
                th:classappend="${model.currentPage == model.totalPages - 1} ? 'disabled' : 'active'">
                <a class="start_end"
                   th:href="@{institutes(size=${size}, page=${model.totalPages - 1}, sort=${sort}, name=${name}, isDeleted=${isDeleted})}"
                   th:text="'В конец'"/>
            </li>
        </ul>
    </nav>

    <div class="mobile_wrap">
        <a th:href="@{/institutes/new}" class="button_new_mobile">
            <img th:src="@{img/ui/main-menu/pluce.svg}" class="pluce_mobile">
        </a>
    </div>

</section>
</body>
</html>