<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title layout:title-pattern="$CONTENT_TITLE - $LAYOUT_TITLE">Gradeo</title>
    <link href="../../static/css/bootstrap.css" rel="stylesheet" th:href="@{/css/bootstrap.css}"/>
    <link href="../../static/css/app.css" rel="stylesheet" th:href="@{/css/app.css}"/>

    <link rel="apple-touch-icon" sizes="180x180" href="/img/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/img/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="194x194" href="/img/favicon/favicon-194x194.png">
    <link rel="icon" type="image/png" sizes="192x192" href="/img/favicon/android-chrome-192x192.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/img/favicon/favicon-16x16.png">
    <link rel="manifest" href="/img/favicon/site.webmanifest">
    <link rel="mask-icon" href="/img/favicon/safari-pinned-tab.svg" color="#7ec571">
    <link rel="shortcut icon" href="/img/favicon/favicon.ico">
    <meta name="apple-mobile-web-app-title" content="Gradeo">
    <meta name="application-name" content="Gradeo">
    <meta name="msapplication-TileColor" content="#7ec571">
    <meta name="msapplication-TileImage" content="/img/favicon/mstile-144x144.png">
    <meta name="msapplication-config" content="/img/favicon/browserconfig.xml">
    <meta name="theme-color" content="#ffffff">
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
</head>
<body>
<header>
    <nav class="navbar navbar-expand-lg navbar-light">
        <div th:if="${currentPage == 'home'}" class="navbar-back"></div>
        <a class="navbar-back" th:unless="${currentPage == 'home'}" th:href="@{~/}">
            <img src="../../static/img/icons/back.svg" th:src="@{/img/icons/back.svg}" width="24" height="24"/>
        </a>
        <a class="navbar-brand" th:href="@{~/}">
            <img src="../../static/img/logo.svg" th:src="@{/img/logo.svg}" width="86" height="28"/>
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <img src="../../static/img/icons/menu.svg" th:src="@{/img/icons/menu.svg}" width="24" height="24"/>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item" th:classappend="${currentPage == 'home'} ? 'active'">
                    <a class="nav-link" th:href="@{~/}">Главная</span></a>
                </li>
                <li class="nav-item" th:classappend="${currentPage == 'attendance'} ? 'active'">
                    <a class="nav-link" th:href="@{~/attendance}">Посещаемость</a>
                </li>
                <li class="nav-item" th:classappend="${currentPage == 'assessment'} ? 'active'">
                    <a class="nav-link" th:href="@{~/assessment}">Оценивание</a>
                </li>
                <li class="nav-item" th:classappend="${currentPage == 'results'} ? 'active'">
                    <a class="nav-link" th:href="@{~/results}">Результаты</a>
                </li>
                <li class="nav-item" th:classappend="${currentPage == 'calendar'} ? 'active'">
                    <a class="nav-link" th:href="@{~/calendar}">Расписание</a>
                </li>
                <li class="nav-item" th:classappend="${currentPage == 'analytics'} ? 'active'">
                    <a class="nav-link" th:href="@{~/analytics}">Аналитика</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                       data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Настройки
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" th:href="@{~/institutes}">Институты</a>
                        <a class="dropdown-item" th:href="@{~/departments}">Кафедры</a>
                        <a class="dropdown-item" th:href="@{~/subjects}">Предметы</a>
                        <a class="dropdown-item" th:href="@{~/groups}">Группы</a>
                        <a class="dropdown-item" th:href="@{~/students}">Студенты</a>
                        <a class="dropdown-item" th:href="@{~/teachers}">Преподаватели</a>
                        <a class="dropdown-item" th:href="@{~/lessons}">Занятия</a>
                        <a class="dropdown-item" th:href="@{~/import}">Импорт</a>
                        <a class="dropdown-item" th:href="@{~/settings}">Настройки</a>
                    </div>
                </li>
            </ul>
            <ul class="navbar-nav mr-lg-5">
                <a class="btn btn-info" id="login-button" th:if="${#httpServletRequest.remoteUser == null}"
                   href="/auth/sign-in">Авторизация</a>

                <div class="nav-item dropdown" id="test" th:unless="${#httpServletRequest.remoteUser == null}">
                    <a class="nav-link dropdown-toggle" href="#" id="accountMenuDropdown" role="button"
                       data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        [[${#httpServletRequest.remoteUser}]]
                    </a>
                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="accountMenuDropdown">
                        <a class="dropdown-item" href="/user/profile">Профиль</a>
                        <a class="dropdown-item" href="/admin">Управление</a>
                        <div class="dropdown-divider"></div>
                        <form th:action="@{/logout}" method="post">
                            <button type="submit" class="dropdown-item">Выход</button>
                        </form>
                    </div>
                </div>
            </ul>
        </div>
    </nav>
</header>
<section layout:fragment="content">
    <p>Page content goes here</p>
</section>
<footer layout:fragment="custom-footer">
</footer>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
<script src="../../static/js/bootstrap.js" th:src="@{/js/bootstrap.js}"></script>
</body>
</html>