<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://thymeleaf.org"
      layout:decorate="~{Layouts/AuthLayout}"
      th:with="currentPage='auth/reset-request'">
<head>
    <meta charset="UTF-8">
    <title>Восстановление пароля</title>
</head>
<body>
<section class="container" layout:fragment="content">
    <div class="row">
        <h4 class="col-12 page-header">Письмо отправлено</h4>
    </div>
    <div class="col-12 row">
        <p>на адрес <b th:text="${resetPasswordRequestDto.email}"></b></p>
    </div>
    <div class="row">
        <p class="col-12">Для продолжения процедуры восстановления проверьте свою почту</p>
    </div>
</section>
</body>
</html>