<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{Layouts/AuthLayout}"
      th:with="currentPage='auth/sign-up'">
<head>
    <meta charset="UTF-8">
    <title>Регистрация</title>
</head>
<body>
<header></header>
<section class="container" layout:fragment="content">
    <a href="..">
        <span id="logo" aria-label="Gradeo"></span>
    </a>
    <form th:action="@{/auth/sign-up}" th:object="${createUserDto}"
          method="post"
          class="col-12 col-sm-10 col-md-8 col-lg-6">
        <div class="form-group">
            <label th:for="username">Логин</label>
            <input type="text"
                   id="username"
                   name="username"
                   class="form-control"
                   th:field="*{username}"
                   th:classappend="${#fields.hasErrors('username')} ? 'is-invalid'"
                   placeholder="Придумайте логин">
            <div class="invalid-feedback" th:if="${#fields.hasErrors('username')}" th:errors="*{username}">
            </div>
        </div>

        <div class="form-group">
            <label th:for="email">Электронная почта</label>
            <input type="email"
                   id="email"
                   name="email"
                   class="form-control"
                   th:field="*{email}"
                   th:classappend="${#fields.hasErrors('email')} ? 'is-invalid'"
                   placeholder="Введите email">
            <div class="invalid-feedback" th:if="${#fields.hasErrors('email')}" th:errors="*{email}">
            </div>
        </div>
        <div class="form-group">
            <label th:for="password">Пароль</label>
            <input type="password"
                   id="password"
                   name="password"
                   class="form-control"
                   th:field="*{password}"
                   th:classappend="${#fields.hasErrors('password')} ? 'is-invalid'"
                   placeholder="Придумайте пароль">
            <div class="invalid-feedback" th:if="${#fields.hasErrors('password')}" th:errors="*{password}">
            </div>
            <input type="hidden" name="_csrf" value="{{_csrf.token}}"/>
        </div>

        <div class="form-group">
            <label th:for="confirmPassword">Подтверждение пароля</label>
            <input type="password"
                   id="confirmPassword"
                   name="confirmPassword"
                   class="form-control"
                   th:field="*{confirmPassword}"
                   th:classappend="${#fields.hasErrors('confirmPassword')} ? 'is-invalid'"
                   placeholder="Введите пароль">
            <div class="invalid-feedback" th:if="${#fields.hasErrors('confirmPassword')}"
                 th:errors="*{confirmPassword}">
            </div>
        </div>
        <button type="submit" class="btn btn-success">Зарегистрироваться</button>
    </form>

</section>
<footer></footer>
</body>
</html>