<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{Layouts/AuthLayout}"
      th:with="currentPage='auth/reset'">
<head>
    <meta charset="UTF-8">
    <title>Ошибка</title>
</head>
<body>
<header></header>
<section class="container" layout:fragment="content">
    <a href="../">
        <span id="logo" aria-label="Gradeo"></span>
    </a>

    <div class="row">
        <h4 class="col-12 page-header">Ошибка</h4>
    </div>
    <div class="row">
        <p class="col-12" th:text="${error}"></p>
    </div>
</section>
<footer></footer>
</body>
</html>