<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{Layouts/Layout}"
      th:with="currentPage='subjects/new'">
<head>
    <meta charset="UTF-8">
    <title>Новый предмет</title>

    <script type="text/javascript" src="/js/dynamicOptions.js"></script>
    <link rel="stylesheet" href="css/bootstrap-multiselect.css" type="text/css"/>

    <script src="/js/bootstrap-multiselect.js"></script>
</head>
<body>
<header></header>
<section layout:fragment="content">
    <div class="container">
        <div class="w-100 my-3 mx-0 mx-sm-0 d-flex align-items-center justify-content-between">
            <p class="h4 mb-0">Добавить новый предмет</p>
        </div>
        <div class="row">
            <form th:action="@{new}" th:object="${createDto}" th:method="post"
                  class="col-12 col-sm-10 col-md-8 col-lg-6">

                <div class="form-group">
                    <label th:for="name">Название</label>
                    <input type="text"
                           id="name"
                           th:field="*{name}"
                           th:classappend="${#fields.hasErrors('name')} ? 'is-invalid'" class="form-control"
                           placeholder="Введите название предмета">
                    <div class="invalid-feedback" th:if="${#fields.hasErrors('name')}" th:errors="*{name}">
                    </div>
                </div>

                <div class="form-group">
                    <label th:for="instituteId">Институт</label>
                    <select id="instituteId"
                            name="instituteId"
                            class="form-control"
                            th:field="*{instituteId}"
                            th:classappend="${#fields.hasErrors('instituteId')} ? 'is-invalid'">
                        <option value="" default>Выберите институт</option>
                        <option th:each="option: ${instituteOptions}" th:text="${option.text}"
                                th:value="${option.value}">
                        </option>
                    </select>
                    <div class="invalid-feedback" th:if="${#fields.hasErrors('instituteId')}"
                         th:errors="*{instituteId}">
                    </div>
                </div>

                <div class="form-group">
                    <label th:for="departmentId">Кафедра</label>
                    <select id="departmentId"
                            name="departmentId"
                            class="form-control"
                            th:field="*{departmentId}"
                            th:classappend="${#fields.hasErrors('departmentId')} ? 'is-invalid'">
                        <option value="">Выберите кафедру</option>
                        <option th:each="option: ${departmentsInInstitute}"
                                th:selected="${#strings.equals(option.value, #strings.toString(createDto.departmentId))}"
                                th:text="${option.text}"
                                th:value="${option.value}">
                        </option>
                    </select>

                    <script type="text/javascript">
                        $("#instituteId").change(departments);
                    </script>

                    <div class="invalid-feedback" th:if="${#fields.hasErrors('departmentId')}"
                         th:errors="*{departmentId}"/>
                </div>

                <div class="form-group">
                    <label th:for="teacherId">Профильные преподаватели</label>
                    <select multiple="multiple"
                            id="teacherId"
                            name="teacherId"
                            class="form-control"
                            th:field="*{teachersId}">
                        <option value="" default>Выберите преподавателя</option>
                        <option th:each="option: ${teachersInDepartment}"
                                th:selected="${#strings.equals(option.value, #strings.toString(createDto.teachersId))}"
                                th:text="${option.text}"
                                th:value="${option.value}">
                        </option>
                    </select>

                </div>
                <script type="text/javascript">
                    $("#departmentId").change(teachers);


                    $("#departmentId").change(function () {
                        $('#teacherId').multiselect(); //TODO: не работает
                    });


                </script>

                <button type="submit" class="btn btn-success" id="create-subject-button">Добавить</button>
            </form>
        </div>
    </div>
</section>
<footer>

</footer>
</body>
</html>