<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{Layouts/Layout}"
      th:with="currentPage='subjects/edit'">
<head>
    <meta charset="UTF-8">
    <title>Редактировать предмет</title>
    <script src="/js/bootstrap-multiselect.js"></script>
    <link rel="stylesheet" href="css/bootstrap-multiselect.css" type="text/css"/>
    <script type="text/javascript" src="/js/dynamicOptions.js"></script>
    <script>
        $(document).ready(function () {
            $('#teachersId').multiselect();
        });
    </script>
</head>
<body>
<header></header>
<section layout:fragment="content">
    <div class="container">
        <div class="row my-3 mx-1 mx-sm-0 d-flex align-items-center justify-content-between">
            <p class="h4 mb-0">Редактирование предмета</p>
            <form th:action="@{/subjects/delete/{id}(id=${updateDto.id})}" th:method="post">
                <button type="submit" class="btn btn-danger" id="delete-subject-button">Удалить</button>
            </form>
        </div>
        <div class="row">
            <form th:action="@{/subjects/edit}" th:object="${updateDto}" th:method="post"
                  class="col-12 col-sm-10 col-md-8 col-lg-6">
                <input type="hidden" id="id" name="id" th:value="${updateDto.id}" class="form-control" hidden>
                <div class="form-group">
                    <label th:for="name">Название</label>
                    <input type="text"
                           id="name"
                           th:value="*{name}"
                           th:classappend="${#fields.hasErrors('name')} ? 'is-invalid'"
                           name="name"
                           class="form-control"
                           placeholder="Введите название предмета">
                    <div class="invalid-feedback" th:if="${#fields.hasErrors('name')}" th:errors="*{name}">
                    </div>
                </div>
                <div class="form-group">
                    <label th:for="instituteId">Институт</label>
                    <select id="instituteId"
                            name="instituteId"
                            class="form-control"
                            th:field="*{instituteId}">
                        <option th:each="option: ${instituteOptions}"
                                th:selected="${#strings.equals(option.value, #strings.toString(updateDto.instituteId))}"
                                th:text="${option.text}"
                                th:value="${option.value}">
                        </option>
                    </select>
                </div>

                <div class="form-group">
                    <label th:for="instituteId">Кафедра</label>
                    <select id="departmentId"
                            name="departmentId"
                            class="form-control"
                            th:field="*{departmentId}">
                        <option th:each="option: ${departmentsInInstitute}"
                                th:selected="${#strings.equals(option.value, #strings.toString(updateDto.departmentId))}"
                                th:text="${option.text}"
                                th:value="${option.value}">
                        </option>
                    </select>
                    <script type="text/javascript">
                        $("#instituteId").change(departments);
                    </script>
                    <div class="invalid-feedback" th:if="${#fields.hasErrors('departmentId')}"
                         th:errors="*{departmentId}"/>
                </div>

                <div class="form-group">
                    <label>Преподаватели</label>
                    <select id="teachersId" multiple="multiple" hidden
                            name="teachersId"
                            class="form-control"
                            th:field="*{teachersId}">
                        <option th:each="option: ${teachersInDepartment}"
                                th:selected="${#strings.equals(option.value, #strings.toString(updateDto.teachersId))}"
                                th:text="${option.text}"
                                th:value="${option.value}">
                        </option>
                    </select>
                </div>

                <button type="submit" class="btn btn-success" id="edit-subject-button">Сохранить</button>
            </form>
        </div>
    </div>
</section>
<footer></footer>
</body>
</html>