<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{Layouts/Layout}"
      th:with="currentPage='subjects'">
<head>
    <title>Предметы</title>
</head>
<body>
<section class="container" layout:fragment="content">
    <div class="row">
        <div class="w-100 my-3 mx-0 mx-sm-0 d-flex align-items-center justify-content-between">
            <p class="h4 mb-0">Предметы</p>
            <a id="new-subject-button" th:href="@{/subjects/new}" class="btn btn-info float-right">Добавить</a>
        </div>
    </div>
    <div class="row">
        <form action="/subjects"
              class="w-75 mb-2 d-flex">
            <input name="name" class="form-control" type="search" placeholder="Введите название"
                   aria-label="Search">
            <select th:with="fromId = 'По ID', fromName = 'По названию'"
                    name="sort"
                    class="form-control ml-3">
                <option value="id" th:text="'По ID'" th:selected="${sort=='id'}"/>
                <option value="name" th:text="'По названию'" th:selected="${sort=='name'}"/>
            </select>
            <select name="size"
                    class="form-control">
                <option value="10" th:text="'10 строк'" th:selected="${size==10}"/>
                <option value="20" th:text="'20 строк'" th:selected="${size==20}"/>
                <option value="50" th:text="'50 строк'" th:selected="${size==50}"/>
            </select>
            <button class="btn btn-outline-success ml-3" type="submit">Поиск</button>
        </form>
        <form action="/subjects"
              class="w-25 mb-2 d-flex">
            <button class="btn btn-outline-success float-right ml-2" type="submit">Сбросить фильтр</button>
        </form>
    </div>
    <div class="row bg-white">
        <table class="table table-bordered table-striped mb-0">
            <thead>
            <tr>
                <th scope="col">Id</th>
                <th scope="col">Предмет</th>
            </tr>
            </thead>
            <tbody>
            <tr th:if="${not #lists.isEmpty(model)}" th:each="subject: ${model.entityListItemDto}">
                <td th:text="${subject.id}"/>
                <td>
                    <a th:href="@{/subjects/view/{id}(id=${subject.id})}" th:text="${subject.name}"></a>
                </td>
            </tr>
            <tr th:if="${#lists.isEmpty(model)}">
                <td colspan="2">
                    <div align="center">Нет результатов</div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <nav aria-label="Page navigation example"
         class="my-3">
        <ul class="pagination justify-content-center">
            <li class="page-item"
                th:classappend="${model.currentPage == 0} ? 'disabled' : 'active'">
                <a class="page-link"
                   th:href="@{subjects(size=${size}, page=${0}, sort=${sort}, name=${name}, isDeleted=${isDeleted})}"
                   th:text="'В начало'"/>
            </li>
            <li class="page-item"
                th:classappend="${model.currentPage == 0} ? 'disabled'">
                <a class="page-link"
                   th:href="@{subjects(size=${size}, page=${model.currentPage - 1}, sort=${sort}, name=${name}, isDeleted=${isDeleted})}"
                   th:text="'Предыдущая'"/>
            </li>
            <li class="page-item"
                th:classappend="'disabled'"
                th:if="${model.currentPage} > 5">
                <a class="page-link"
                   th:text="'...'"/>
            </li>
            <li class="page-item"
                th:each="num : ${#numbers.sequence(model.start,model.end)}"
                th:classappend="${num == model.currentPage + 1} ? 'active'">

                <a class="page-link"
                   th:href="@{subjects(size=${size}, page=${num - 1}, sort=${sort}, name=${name}, isDeleted=${isDeleted})}"
                   th:text="${num}"/>
            </li>
            <li class="page-item"
                th:classappend="'disabled'"
                th:if="${model.currentPage} < ${model.totalPages} - 6">
                <a class="page-link"
                   th:text="'...'"/>
            </li>
            <li class="page-item"
                th:classappend="${model.currentPage == model.totalPages - 1} ? 'disabled'">
                <a class="page-link"
                   th:href="@{subjects(size=${size}, page=${model.currentPage + 1}, sort=${sort}, name=${name}, isDeleted=${isDeleted})}"
                   th:text="'Следующая'"/>
            </li>
            <li class="page-item"
                th:classappend="${model.currentPage == model.totalPages - 1} ? 'disabled' : 'active'">
                <a class="page-link"
                   th:href="@{subjects(size=${size}, page=${model.totalPages - 1}, sort=${sort}, name=${name}, isDeleted=${isDeleted})}"
                   th:text="'В конец'"/>
            </li>
        </ul>
    </nav>
</section>
</body>
</html>
