<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{Layouts/Layout}"
      th:with="currentPage='subjects/view/' + ${subject.id}">
<head>
    <meta charset="UTF-8">
    <title>Просмотр предмета</title>
</head>
<body>
<header></header>
<section layout:fragment="content">
    <div class="container">

        <div class="row my-3 mx-1 mx-sm-0 d-flex align-items-center justify-content-between">
            <p class="h4 mb-0">Просмотр предмета</p>
        </div>

        <div class="row" th:object="${subject}">
            <div class="col-12 col-sm-10 col-md-8 col-lg-6">
                <p th:text="'Институт - ' + *{instituteName}"></p>
                <p th:text="'Кафедра - ' + *{departmentName}"></p>
                <p th:text="'Название предмета - ' + *{name}"></p>
            </div>
            <input type="hidden" id="subjectId" name="subjectId" th:value="${subject.id}" class="form-control" hidden>
        </div>

        <div class="form-group">
            <div class="row bg-white">
                <table class="table table-bordered table-striped mb-0" id="taskTable">
                    <thead>
                    <th scope="col">
                        <b>Задание</b>
                    </th>
                    </thead>
                    <tbody>
                    <tr th:if="${not #lists.isEmpty(tasks)}" th:each="task: ${tasks}">
                        <td>
                            <a th:href="@{/tasks/view/{id}(id=${task.id})}" th:text="${task.name}"></a>
                        </td>
                        <td th:text="${task.id}" hidden>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div>
            <a class="btn btn-info" th:href="@{/subjects/edit/{id}(id=${subject.id})}">Редактировать предмет</a>
            <a class="btn btn-info" th:href="@{/tasks/new/subjectId/{id}(id=${subject.id})}">Добавить задание</a>
        </div>
    </div>
</section>
<footer></footer>
</body>
</html>