<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{Layouts/AuthLayout}"
      th:with="currentPage='auth/sign-up/teacher'">
<head>
    <meta charset="UTF-8">
    <title>Регистрация</title>
    <script type="text/javascript" src="/js/dynamicOptions.js"></script>
</head>
<body>
<header></header>
<section class="container" layout:fragment="content">
    <a href="../">
        <span id="logo" aria-label="Gradeo"></span>
    </a>
    <form th:action="@{/auth/sign-up/teacher}"
          th:object="${createDto}" method="post"
          class="col-12 col-sm-10 col-md-8 col-lg-6">

        <div class="form-group">
            <label th:for="name">ФИО</label>
            <input type="text"
                   id="name"
                   name="name"
                   class="form-control"
                   th:field="*{name}"
                   th:classappend="${#fields.hasErrors('name')} ? 'is-invalid'"
                   placeholder="Введите ФИО">
            <div class="invalid-feedback" th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></div>
        </div>

        <div class="form-group">
            <label th:for="instituteId">Институт</label>
            <select id="instituteId"
                    name="instituteId"
                    class="form-control"
                    th:field="*{instituteId}"
                    th:classappend="${#fields.hasErrors('instituteId')} ? 'is-invalid'">
                <option value="" default>Выберите институт</option>
                <option th:each="option: ${instituteOptions}" th:text="${option.text}"
                        th:value="${option.value}">
                </option>
            </select>
            <div class="invalid-feedback" th:if="${#fields.hasErrors('instituteId')}" th:errors="*{instituteId}"></div>
        </div>

        <div class="form-group">
            <label th:for="departmentId">Кафедра</label>
            <select id="departmentId"
                    name="departmentId"
                    class="form-control"
                    th:field="*{departmentId}"
                    th:classappend="${#fields.hasErrors('departmentId')} ? 'is-invalid'">
                <option value="" default>Выберите кафедру</option>
                <option th:each="option: ${departmentsInInstitute}"
                        th:selected="${#strings.equals(option.value, #strings.toString(createDto.departmentId))}"
                        th:text="${option.text}"
                        th:value="${option.value}">
                </option>
            </select>
            <script type="text/javascript">
                $("#instituteId").change(departments);
            </script>
            <div class="invalid-feedback" th:if="${#fields.hasErrors('departmentId')}"
                 th:errors="*{departmentId}"></div>
        </div>

        <div class="form-group">
            <label th:for="position">Должность</label>
            <select id="position"
                    name="position"
                    class="form-control"
                    th:field="*{position}"
                    th:classappend="${#fields.hasErrors('position')} ? 'is-invalid'">
                <option value="" default>Выберите должность</option>
                <option value="ASSISTANT">Ассистент</option>
                <option value="SENIOR_LECTURER">Старший преподаватель</option>
                <option value="ASSISTANT_PROFESSOR">Доцент</option>
                <option value="PROFESSOR">Профессор</option>
            </select>
            <div class="invalid-feedback" th:if="${#fields.hasErrors('position')}" th:errors="*{position}"></div>
        </div>

        <div class="form-group">
            <label th:for="email">Email</label>
            <input type="email"
                   id="email"
                   name="email"
                   class="form-control"
                   th:field="*{email}"
                   th:classappend="${#fields.hasErrors('email')} ? 'is-invalid'"
                   placeholder="Введите email">
            <div class="invalid-feedback" th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></div>
        </div>

        <div class="form-group">
            <label th:for="username">Логин</label>
            <input type="text"
                   id="usernameT"
                   name="username"
                   class="form-control"
                   th:field="*{username}"
                   th:classappend="${#fields.hasErrors('username')} ? 'is-invalid'"
                   placeholder="Введите логин">
            <div class="invalid-feedback" th:if="${#fields.hasErrors('username')}" th:errors="*{username}"></div>
        </div>

        <div class="form-group">
            <label th:for="password">Пароль</label>
            <input type="password"
                   id="passwordT"
                   name="password"
                   class="form-control"
                   th:field="*{password}"
                   th:classappend="${#fields.hasErrors('password')} ? 'is-invalid'"
                   placeholder="Введите пароль">
            <div class="invalid-feedback" th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></div>
            <input type="hidden" name="_csrf" value="{{_csrf.token}}"/>
        </div>

        <button type="submit" class="btn btn-success">Зарегистрироваться</button>
    </form>
</section>
<footer></footer>
</body>
</html>