<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{Layouts/Layout}"
      th:with="currentPage='admin/edit'">
<head>
    <meta charset="UTF-8">
    <title>Редактирование обычных пользователей</title>
</head>
<body>
<header></header>
<section layout:fragment="content">
    <div class="container">

        <div class="row my-3 mx-1 mx-sm-0 d-flex align-items-center justify-content-between">
            <p class="h4 mb-0">Редактирование пользователя</p>
            <form th:action="@{/admin/delete/{id}(id=${id})}" th:method="post">
                <button type="submit" class="btn btn-danger">Удалить</button>
            </form>
            <p th:text="${lastUserException}"></p>
        </div>

        <div class="row">
            <form th:action="@{/admin/edit}" th:object="${user}" method="post"
                  class="col-12 col-sm-10 col-md-8 col-lg-6">
                <input type="hidden" id="id" name="id" th:value="${id}" class="form-control" hidden>

                <div class="form-group">
                    <label th:for="username">Никнейм</label>
                    <input type="text"
                           id="username"
                           name="username"
                           class="form-control"
                           th:field="*{username}"
                           th:classappend="${#fields.hasErrors('username')} ? 'is-invalid'"
                           placeholder="Введите никнейм">
                    <div class="invalid-feedback" th:if="${#fields.hasErrors('username')}" th:errors="*{username}">
                    </div>
                </div>
                <div class="form-group">
                    <label th:for="password">Пароль</label>
                    <input type="password"
                           id="password"
                           name="password"
                           class="form-control"
                           th:field="*{password}"
                           th:classappend="${#fields.hasErrors('password')} ? 'is-invalid'"
                           placeholder="Введите пароль">

                    <div class="invalid-feedback" th:if="${#fields.hasErrors('password')}"
                         th:errors="*{password}"></div>
                </div>
                <input type="hidden" name="_csrf" value="{{_csrf.token}}"/>
                <button type="submit" class="btn btn-success">Сохранить</button>

            </form>
        </div>
        <div class="row my-3 mx-1 mx-sm-0 mt-2">
            <b>
                <a th:href="@{/teachers/edit/{id}(id=${teacher_id})}"> Редактировать данные преподавателя </a>
            </b>
        </div>
    </div>
</section>
<footer></footer>
</body>
</html>