<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{Layouts/Layout}"
      th:with="currentPage='admin'">
<head>
    <title>Админ-панель</title>
</head>
<body>
<section class="container" layout:fragment="content">
    <div class="row">
        <div class="w-100 my-3 mx-0 mx-sm-0 d-flex align-items-center justify-content-between">
            <p class="h4 mb-0">Админ-панель</p>
            <div class="form-inline mb-0 d-flex">
                <a id="new-user-button" th:href="@{/auth/sign-up}" class="btn btn-info">Добавить юзера</a>
                <a id="new-teacher-button" th:href="@{/auth/sign-up/teacher}" class="btn btn-info ml-1">Добавить
                    преподавателя</a>
            </div>

        </div>
    </div>
    <div class="row bg-white">
        <table class="table table-bordered table-striped mb-0">
            <thead>
            <tr>
                <th scope="col">id</th>
                <th scope="col">Никнейм</th>
                <th scope="col">Почта</th>
                <th scope="col">Роль</th>
            </tr>
            </thead>
            <tbody>
            <tr th:if="${not #lists.isEmpty(allUsers)}" th:each="user: ${allUsers}">
                <td>
                    <a th:href="@{/admin/edit/{id}(id=${user.id})}" th:text="${user.id}"></a>
                </td>
                <td th:text="${user.username}"/>
                <td th:text="${user.email}"/>
                <td th:if="${not #lists.isEmpty(user.roles)}" th:each="role: ${user.roles}" th:text="${role}"/>
            </tr>
            <tr th:if="${#lists.isEmpty(allUsers)}">
                <td colspan="4">
                    <div align="center">Нет пользователей</div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</section>
</body>
</html>
