<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{Layouts/Layout}"
      th:with="currentPage='attendance'">
<head>
    <meta charset="UTF-8">
    <meta th:name="_csrf" th:content="${_csrf.token}"/>
    <meta th:name="_csrf_header" th:content="${_csrf.headerName}"/>
    <title>Посещаемость</title>

    <script type="text/javascript" src="/js/dynamicOptions.js"></script>
    <script>
        $(function () {
            var token = $("meta[name='_csrf']").attr("content");
            var header = $("meta[name='_csrf_header']").attr("content");
            $(document).ajaxSend(function (e, xhr, options) {
                xhr.setRequestHeader(header, token);
            });
        });
    </script>
</head>
<body>
<section layout:fragment="content">
    <div class="container">

        <div class="w-100 my-3 mx-0 mx-sm-0 d-flex align-items-center justify-content-between">
            <p class="h4 mb-0">Посещаемость</p>
        </div>

        <div class="row">
            <div class="col-12 col-sm-10 col-md-8 col-lg-6">

                <div class="form-group">
                    <label th:for="subjectId">Предмет</label>
                    <select id="subjectId"
                            name="subjectId"
                            class="form-control">
                        <option value="" default>Выберите предмет</option>
                        <option th:each="option: ${teacher_subjects}" th:text="${option.text}"
                                th:value="${option.value}">
                        </option>
                    </select>
                    <div class="invalid-feedback" id="subjectIdError">
                        Выберите предмет
                    </div>
                </div>
                <div class="form-group">
                    <label th:for="groupId">Группа</label>
                    <select id="groupId"
                            name="groupId"
                            class="form-control">
                        <option hidden value="" default>Выберите группу</option>
                    </select>
                    <div class="invalid-feedback" id="groupIdError">
                        Выберите группу
                    </div>
                    <script type="text/javascript">
                        $("#subjectId").change(groupsBySubjectId);
                    </script>
                </div>

                <div class="form-group">
                    <label th:for="lessonId">Занятие</label>
                    <select id="lessonId"
                            name="lessonId"
                            class="form-control">
                        <option hidden value="" default>Выберите занятие</option>
                    </select>
                    <div class="invalid-feedback" id="lessonIdError" hidden>
                        Выберите занятие
                    </div>
                    <script type="text/javascript">
                        $("#subjectId").change(lessons);
                        $("#groupId").change(lessons);
                    </script>
                </div>
                <div class="form-group">

                    <div class="row bg-white">
                        <table class="table table-bordered table-striped mb-0" id="studentTable">
                            <thead>
                            </thead>
                            <tbody>
                            </tbody>
                        </table>
                    </div>

                    <script type="text/javascript">
                        $("#subjectId").change(cleanTable);
                        $("#groupId").change(cleanTable);
                        $("#lessonId").change(cleanTable);
                        $("#lessonId").change(studentsTable);
                    </script>
                </div>
                <div>
                    <button class="btn btn-success" type="button" onclick="buttonFunk()">Отметить</button>
                </div>
            </div>
        </div>
    </div>
</section>
</body>
</html>