<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://thymeleaf.org"
      layout:decorate="~{Layouts/Layout}"
      th:with="currentPage='students/new'">
<head>
    <meta charset="UTF-8">
    <title>Новый студент</title>
    <script type="text/javascript" src="/js/dynamicOptions.js"></script>

</head>
<body>
<header></header>
<section layout:fragment="content">
    <div class="container">

        <div class="w-100 my-3 mx-0 mx-sm-0 d-flex align-items-center justify-content-between">
            <p class="h4 mb-0">Добавить нового студента</p>
        </div>

        <div class="row">
            <form th:action="@{new}" th:object="${createDto}" th:method="post"
                  class="col-12 col-sm-10 col-md-8 col-lg-6">

                <div class="form-group">
                    <label th:for="name">ФИО</label>
                    <input type="text"
                           id="name"
                           name="name"
                           th:field="*{name}"
                           th:classappend="${#fields.hasErrors('name')} ? 'is-invalid'"
                           class="form-control"
                           placeholder="Введите ФИО студента">
                    <div class="invalid-feedback" th:if="${#fields.hasErrors('name')}"
                         th:errors="*{name}"/>
                </div>

                <div class="form-group">
                    <label th:for="gradeBook">Номер зачетной книжки</label>
                    <input type="number"
                           id="gradeBook"
                           name="gradeBook"
                           th:field="*{gradeBook}"
                           th:classappend="${#fields.hasErrors('gradeBook')} ? 'is-invalid'"
                           class="form-control"
                           placeholder="Введите номер зачетной книжки">
                    <div class="invalid-feedback" th:if="${#fields.hasErrors('gradeBook')}"
                         th:errors="*{gradeBook}"/>
                </div>

                <div class="form-group">
                    <label th:for="instituteId">Институт</label>
                    <select id="instituteId"
                            name="instituteId"
                            class="form-control"
                            th:field="*{instituteId}"
                            th:classappend="${#fields.hasErrors('instituteId')} ? 'is-invalid'">
                        <option value="" default>Выберите институт</option>
                        <option th:each="option: ${instituteOptions}" th:text="${option.text}"
                                th:value="${option.value}">
                        </option>
                    </select>
                    <div class="invalid-feedback" th:if="${#fields.hasErrors('instituteId')}"
                         th:errors="*{instituteId}">
                    </div>
                </div>

                <div class="form-group">
                    <label th:for="departmentId">Кафедра</label>
                    <select id="departmentId"
                            name="departmentId"
                            class="form-control"
                            th:field="*{departmentId}"
                            th:classappend="${#fields.hasErrors('departmentId')} ? 'is-invalid'">
                        <option value="" default>Выберите кафедру</option>
                        <option th:each="option: ${departmentsInInstitute}"
                                th:selected="${#strings.equals(option.value, #strings.toString(createDto.departmentId))}"
                                th:text="${option.text}"
                                th:value="${option.value}">
                        </option>
                    </select>

                    <script type="text/javascript">
                        $("#instituteId").change(departments);
                    </script>

                    <div class="invalid-feedback" th:if="${#fields.hasErrors('departmentId')}"
                         th:errors="*{departmentId}"/>
                </div>

                <div class="form-group">
                    <label th:for="groupId">Группа</label>
                    <select id="groupId"
                            name="groupId"
                            class="form-control"
                            th:field="*{groupId}"
                            th:classappend="${#fields.hasErrors('groupId')} ? 'is-invalid'">
                        <option value="" default>Выберите группу</option>
                        <option th:each="option: ${groupsInDepartment}"
                                th:selected="${#strings.equals(option.value, #strings.toString(createDto.groupId))}"
                                th:text="${option.text}"
                                th:value="${option.value}">
                        </option>
                    </select>

                    <script type="text/javascript">
                        $("#instituteId").change(groups);
                        $("#departmentId").change(groups);
                    </script>

                    <div class="invalid-feedback" th:if="${#fields.hasErrors('groupId')}"
                         th:errors="*{groupId}"></div>
                </div>

                <div class="form-group">
                    <label th:for="enrollmentDate">Дата зачисления</label>
                    <input type="date"
                           id="enrollmentDate"
                           name="enrollmentDate"
                           th:field="*{enrollmentDate}"
                           th:classappend="${#fields.hasErrors('enrollmentDate')} ? 'is-invalid'"
                           class="form-control"
                           placeholder="Введите дату зачисления">
                    <div class="invalid-feedback" th:if="${#fields.hasErrors('enrollmentDate')}"
                         th:errors="*{enrollmentDate}"></div>
                </div>

                <div class="form-group">
                    <label th:for="educationalForm">Форма обучения</label>
                    <select id="educationalForm"
                            name="educationalForm"
                            class="form-control"
                            th:field="*{educationalForm}"
                            th:classappend="${#fields.hasErrors('educationalForm')} ? 'is-invalid'"
                    >
                        <option value="" default>Выберите форму обучения</option>
                        <option value="1">Очная</option>
                        <option value="2">Очно-заочная</option>
                        <option value="3">Заочная</option>
                    </select>
                    <div class="invalid-feedback" th:if="${#fields.hasErrors('educationalForm')}"
                         th:errors="*{educationalForm}">
                    </div>
                </div>

                <button type="submit" class="btn btn-success">Добавить</button>

            </form>
        </div>
    </div>
</section>
<footer></footer>
</body>
</html>