<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://thymeleaf.org"
      layout:decorate="~{Layouts/Layout}"
      th:with="currentPage='students'">
<head>
    <title>Студенты</title>
</head>
<body>
<section class="container" layout:fragment="content">
    <div class="row">
        <div class="w-100 my-3 mx-1 mx-sm-0 d-flex align-items-center justify-content-between">
            <p class="h4 mb-0">Студенты</p>
            <a th:href="@{/students/new}" class="btn btn-info float-right">Добавить</a>
        </div>
    </div>
    <div class="row bg-white">
        <table class="table table-bordered table-striped mb-0">
            <thead>
            <tr>
                <th scope="col">id</th>
                <th scope="col">Номер зачетной книжки</th>
                <th scope="col">ФИО</th>
                <th scope="col">Группа</th>
            </tr>
            </thead>
            <tbody>
            <tr th:if="${not #lists.isEmpty(students)}" th:each="students: ${students}">
                <td>
                    <a th:href="@{students/edit/{id}(id=${students.id})}" th:text="${students.id}"></a>
                </td>
                <td th:text="${students.gradeBook}"></td>
                <td th:text="${students.name}"/>
                <td th:text="${students.groupName}"/>
            </tr>
            <tr th:if="${#lists.isEmpty(students)}">
                <td colspan="4">
                    <div align="center">Нет результатов</div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</section>
</body>
</html>