<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{Layouts/Layout}"
      th:with="currentPage='departments/new'">
<head>
    <meta charset="UTF-8">
    <title>Новая кафедра</title>
</head>
<body>
<header></header>
<section layout:fragment="content">
    <div class="container">
        <div class="row">
            <h4 class="col-12 my-3 page-header">Новая кафедра</h4>
        </div>
        <div class="row">
            <form th:action="@{new}" th:object="${createDto}" th:method="post"
                  class="col-12 col-sm-10 col-md-8 col-lg-6">
                <div class="form-group">
                    <label th:for="name">Название</label>
                    <input type="text"
                           id="name"
                           name="name"
                           class="form-control"
                           th:field="*{name}"
                           th:classappend="${#fields.hasErrors('name')} ? 'is-invalid'"
                           placeholder="Введите название кафедры"
                    >
                    <div class="invalid-feedback" th:if="${#fields.hasErrors('name')}" th:errors="*{name}">
                    </div>
                </div>
                <div class="form-group">
                    <label th:for="instituteId">Институт</label>
                    <select id="instituteId"
                            name="instituteId"
                            class="form-control"
                            th:field="*{instituteId}"
                            th:classappend="${#fields.hasErrors('instituteId')} ? 'is-invalid'"
                    >
                        <option value="" default>Выберите институт</option>
                        <option th:each="option: ${instituteOptions}" th:text="${option.text}" th:value="${option.value}">
                        </option>
                    </select>
                    <div class="invalid-feedback" th:if="${#fields.hasErrors('instituteId')}" th:errors="*{instituteId}">
                    </div>
                </div>
                <button type="submit" class="btn btn-success">Добавить</button>
            </form>
        </div>
    </div>
</section>
<footer></footer>
</body>
</html>