<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{Layouts/Layout}"
      th:with="currentPage='departments/edit'">
<head>
    <meta charset="UTF-8">
    <title>Редактирование кафедры</title>
</head>
<body>
<header></header>
<section layout:fragment="content">
    <div class="container">
        <div class="row my-3 mx-1 mx-sm-0 d-flex align-items-center justify-content-between">
            <p class="h4 mb-0">Редактирование данных кафедры</p>
            <form th:action="@{/departments/delete/{id}(id=${department.id})}" th:method="post">
                <button type="submit" class="btn btn-danger">Удалить</button>
            </form>
        </div>
        <div class="row">
            <form th:action="@{/departments/edit}" th:object="${department}" th:method="post"
                  class="col-12 col-sm-10 col-md-8 col-lg-6">
                <input type="hidden" id="id" name="id" th:value="${department.id}" class="form-control" hidden>
                <div class="form-group">
                    <label th:for="name">Название</label>
                    <input type="text"
                           id="name"
                           th:field="*{name}"
                           th:classappend="${#fields.hasErrors('name')} ? 'is-invalid'"
                           name="name"
                           class="form-control"
                           placeholder="Введите новое название">
                    <div class="invalid-feedback" th:if="${#fields.hasErrors('name')}" th:errors="*{name}">
                    </div>
                </div>
                <div class="form-group">
                    <label th:for="instituteId">Институт</label>
                    <select id="instituteId"
                            th:field="*{instituteId}"
                            name="instituteId"
                            class="form-control"
                            placeholder="Выберите институт"
                            th:classappend="${#fields.hasErrors('instituteId')} ? 'is-invalid'"
                    >
                        <option th:each="option: ${instituteOptions}"
                                th:selected="${#strings.equals(option.value, #strings.toString(department.instituteId))}"
                                th:text="${option.text}"
                                th:value="${option.value}">
                        </option>
                    </select>
                    <div class="invalid-feedback" th:if="${#fields.hasErrors('instituteId')}" th:errors="*{instituteId}">
                    </div>
                </div>
                <div class="">
                    <button type="submit" class="btn btn-success">Сохранить</button>
                </div>
            </form>
        </div>
    </div>
</section>
<footer></footer>
</body>
</html>