<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{Layouts/Layout}"
      th:with="currentPage='departments'">
<head>
    <title>Кафедры</title>
</head>
<body>
<section class="container" layout:fragment="content">
    <div class="row">
        <div class="w-100 my-3 mx-1 mx-sm-0 d-flex align-items-center justify-content-between">
            <p class="h4 mb-0">Кафедры</p>
            <a th:href="@{/departments/new}" class="btn btn-info float-right">Добавить</a>
        </div>
    </div>
    <div class="row">
        <form action="/departments"
              class="w-75 mb-2 d-flex">
            <input name="name" class="form-control" type="search" placeholder="Введите название"
                   aria-label="Search">
            <select id="instituteId"
                    name="inst_id"
                    class="form-control ml-3">
                <option value="" default>Выберите институт</option>
                <option th:each="option: ${instituteOptions}" th:text="${option.text}"
                        th:value="${option.value}">
                </option>
            </select>
            <select th:with="fromId = 'По ID', fromName = 'По названию'"
                    name="sort"
                    class="form-control ml-3">
                <option value="id" th:text="'По ID'" th:selected="${sort=='id'}"/>
                <option value="name" th:text="'По названию'" th:selected="${sort=='name'}"/>
            </select>
            <select name="size"
                    class="form-control">
                <option value="10" th:text="'10 строк'" th:selected="${size==10}"/>
                <option value="20" th:text="'20 строк'" th:selected="${size==20}"/>
                <option value="50" th:text="'50 строк'" th:selected="${size==50}"/>
            </select>
            <button class="btn btn-outline-success ml-3" type="submit">Поиск</button>
        </form>
        <form action="/departments"
              class="w-25 mb-2 d-flex">
            <button class="btn btn-outline-success float-right ml-2" type="submit">Сбросить фильтр</button>
        </form>
    </div>
    <div class="row bg-white">
        <table class="table table-bordered table-striped mb-0">
            <thead>
            <tr>
                <th scope="col">Id</th>
                <th scope="col">Название</th>
                <th scope="col">Группы</th>
                <th scope="col">Предметы</th>
            </tr>
            </thead>
            <tbody>
            <tr th:if="${not #lists.isEmpty(model.entityListItemDto)}"
                th:each="department: ${model.entityListItemDto}">
                <td th:text="${department.id}"/>
                <td>
                    <a th:href="@{departments/edit/{id}(id=${department.id})}" th:text="${department.name}"></a>
                </td>
                <td th:text="${department.groupsCount}"/>
                <td th:text="${department.subjectsCount}"/>
            </tr>
            <tr th:if="${#lists.isEmpty(model.entityListItemDto)}">
                <td colspan="4">
                    <div align="center">Нет результатов</div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <nav aria-label="Page navigation example"
         class="my-3">
        <ul class="pagination justify-content-center">
            <li class="page-item"
                th:classappend="${model.currentPage == 0} ? 'disabled' : 'active'">
                <a class="page-link"
                   th:href="@{departments(size=${size}, page=${0}, sort=${sort}, name=${name}, isDeleted=${isDeleted}, inst_id=${inst_id})}"
                   th:text="'В начало'"/>
            </li>
            <li class="page-item"
                th:classappend="${model.currentPage == 0} ? 'disabled'">
                <a class="page-link"
                   th:href="@{departments(size=${size}, page=${model.currentPage - 1}, sort=${sort}, name=${name}, isDeleted=${isDeleted}, inst_id=${inst_id})}"
                   th:text="'Предыдущая'"/>
            </li>
            <li class="page-item"
                th:classappend="'disabled'"
                th:if="${model.currentPage} > 5">
                <a class="page-link"
                   th:text="'...'"/>
            </li>
            <li class="page-item"
                th:each="num : ${#numbers.sequence(model.start,model.end)}"
                th:classappend="${num == model.currentPage + 1} ? 'active'">

                <a class="page-link"
                   th:href="@{departments(size=${size}, page=${num - 1}, sort=${sort}, name=${name}, isDeleted=${isDeleted}, inst_id=${inst_id})}"
                   th:text="${num}"/>
            </li>
            <li class="page-item"
                th:classappend="'disabled'"
                th:if="${model.currentPage} < ${model.totalPages} - 6">
                <a class="page-link"
                   th:text="'...'"/>
            </li>
            <li class="page-item"
                th:classappend="${model.currentPage == model.totalPages - 1} ? 'disabled'">
                <a class="page-link"
                   th:href="@{departments(size=${size}, page=${model.currentPage + 1}, sort=${sort}, name=${name}, isDeleted=${isDeleted}, inst_id=${inst_id})}"
                   th:text="'Следующая'"/>
            </li>
            <li class="page-item"
                th:classappend="${model.currentPage == model.totalPages - 1} ? 'disabled' : 'active'">
                <a class="page-link"
                   th:href="@{departments(size=${size}, page=${model.totalPages - 1}, sort=${sort}, name=${name}, isDeleted=${isDeleted}, inst_id=${inst_id})}"
                   th:text="'В конец'"/>
            </li>
        </ul>
    </nav>
</section>
</body>
</html>