@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

* {
    margin: 0;
}

body {
    background-color: #f5f5f6;
    font-family: Roboto, serif;
    line-height: 1;
}

.page-header {
    font-style: normal;
    font-weight: 500;
}

.navbar-light {
    background: #FFFFFF;
    box-shadow: 0px 1px 0px #CCCCCC;
}

.navbar-back {
    display: none;
    width: 24px;
    height: 24px;
}

.navbar-toggler {
    padding: 0;
    border: none;
}

.navbar-toggler:focus {
    outline: none;
}

@media screen and (max-width:767px) {
    .navbar-back {
        display: block;
    }
}