<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://thymeleaf.org"
      layout:decorate="~{Layouts/Layout}"
      th:with="currentPage='about'">
<head>
    <title>О проекте</title>
    <link href="/css/ui/about.css" rel="stylesheet">
</head>
<body>
<section layout:fragment="content">
    <div class="container mt-4 p-2 bg-white">
        <div class="row mt-3 mb-4 justify-content-center">
            <img src="img/logo150x54.svg">
        </div>
        <div class="row m-3 justify-content-center">
            <p>Система электронного оценивания и документооборота</p>
        </div>
        <div class="row m-3 justify-content-center">
            <h3>Разработчики</h3>
        </div>
        <div class="menu row justify-content-center row-cols-xs-2 row-cols-sm-4 row-cols-md-8 row-cols-lg-10 row-cols-xl-12">
            <a class="card m-4 p-2" th:each="baker : ${bakers}">
                <ul class="list-unstyled">
                    <th:block>
                        <b>
                            <li th:utext="${baker.name}" class="m-2"></li>
                        </b>
                        <li th:utext="${baker.role}" class="m-2"></li>
                        <small class="text-muted">
                            <li th:utext="${baker.email}" class="m-2"></li>
                        </small>
                    </th:block>
                </ul>
            </a>
        </div>
    </div>
</section>
<footer layout:fragment="custom-footer">

</footer>
</body>
</html>
