<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://thymeleaf.org"
      layout:decorate="~{Layouts/Layout}"
      th:with="currentPage='home'">
<head>
    <title>Главная</title>
    
    <link th:href="@{/css/ui/main-menu.css}" rel="stylesheet"/>
</head>
<body>
<section layout:fragment="content">
    <div class="container">
        <div class="row">
            <h4 class="col-12 m-3 page-header">Главное меню</h4>
        </div>
        <div class="menu row justify-content-center row-cols-xs-1 row-cols-sm-3 row-cols-md-4 row-cols-lg-6 row-cols-xl-8">
            <a class="card m-3 p-3" th:href="@{~/attendance}">
                <img width="48" height="48" th:src="@{img/ui/main-menu/completed.svg}">
                <h5 class="card-title text-dark">Посещаемость</h5>
            </a>
            <a class="card m-3 p-3" th:href="@{~/assessment}">
                <img width="48" height="48" th:src="@{img/ui/main-menu/add.svg}">
                <h5 class="card-title text-dark">Оценивание</h5>
            </a>
            <a class="card m-3 p-3" th:href="@{~/results}">
                <img width="48" height="48" th:src="@{img/ui/main-menu/checkList.svg}">
                <h5 class="card-title text-dark">Результаты</h5>
            </a>
            <a class="card m-3 p-3" th:href="@{~/calendar}">
                <img width="48" height="48" th:src="@{img/ui/main-menu/calendar.svg}">
                <h5 class="card-title text-dark">Расписание</h5>
            </a>
            <a class="card m-3 p-3" th:href="@{~/subjects}" id="menu-subjects-button">
                <img width="48" height="48" th:src="@{img/ui/main-menu/book.svg}">
                <h5 class="card-title text-dark">Предметы</h5>
            </a>
            <a class="card m-3 p-3" th:href="@{~/groups}">
                <img width="48" height="48" th:src="@{img/ui/main-menu/group.svg}">
                <h5 class="card-title text-dark">Группы</h5>
            </a>
            <a class="card m-3 p-3" th:href="@{~/analytics}">
                <img width="48" height="48" th:src="@{img/ui/main-menu/analytics.svg}">
                <h5 class="card-title text-dark">Аналитика</h5>
            </a>
            <a class="card m-3 p-3" th:href="@{~/settings}">
                <img width="48" height="48" th:src="@{img/ui/main-menu/settings.svg}">
                <h5 class="card-title text-dark">Настройки</h5>
            </a>
        </div>
    </div>
</section>
<footer layout:fragment="custom-footer">

</footer>
</body>
</html>
