<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://thymeleaf.org"
      layout:decorate="~{Layouts/AuthLayout}"
      th:with="currentPage='auth/sign-in'">
<head>
    <meta charset="UTF-8">
    <title>Авторизация</title>
</head>
<body>
<section class="container" layout:fragment="content">
    <a href="../">
        <span id="logo" aria-label="Gradeo"></span>
    </a>
    <form th:action="@{/auth/sign-in}" method="post" class="col-12 col-sm-10 col-md-8 col-lg-6">
        <div class="form-group">
            <label th:for="username">Логин</label>
            <input type="text"
                   id="username"
                   name="username"
                   class="form-control"
                   placeholder="Введите логин или Email">
        </div>

        <div class="form-group">
            <label th:for="password">Пароль</label>
            <input type="password"
                   id="password"
                   name="password"
                   class="form-control"
                   th:classappend="${param.error} ? 'is-invalid'"
                   placeholder="Введите пароль">
            <a href="/auth/reset-request"><small class="text-muted">забыли пароль?</small></a>
            <div class="invalid-feedback"> Неверный логин или пароль.</div>
        </div>

        <div class="custom-checkbox">
            <label>
                <input type="checkbox" name="remember-me"/> Запомнить меня</td>
            </label>
        </div>

        <input type="hidden" name="_csrf" value="{{_csrf.token}}"/>
        <button type="submit" class="btn btn-success">Войти</button>
        <a href="/auth/sign-up" class="btn btn-success">Регистрация</a>
    </form>

</section>
</body>
</html>