<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://thymeleaf.org"
      layout:decorate="~{Layouts/Layout}"
      th:with="currentPage='groups/new'">
<head>
    <meta charset="UTF-8">
    <title>Новая группа</title>
    <script type="text/javascript" src="/js/dynamicOptions.js"></script>
</head>
<body>
<header></header>
<section layout:fragment="content">
    <div class="container">

        <div class="w-100 my-3 mx-0 mx-sm-0 d-flex align-items-center justify-content-between">
            <p class="h4 mb-0">Добавить новую группу</p>
        </div>

        <div class="row">
            <form th:action="@{new}" th:object="${createDto}" th:method="post"
                  class="col-12 col-sm-10 col-md-8 col-lg-6">

                <div class="form-group">
                    <label th:for="name">Название</label>
                    <input type="text"
                           id="name"
                           name="name"
                           class="form-control"
                           th:field="*{name}"
                           th:classappend="${#fields.hasErrors('name')} ? 'is-invalid'"
                           placeholder="Введите название группы">
                    <div class="invalid-feedback" th:if="${#fields.hasErrors('name')}" th:errors="*{name}"/>
                </div>

                <div class="form-group">
                    <label th:for="instituteId">Институт</label>
                    <select id="instituteId"
                            name="instituteId"
                            class="form-control"
                            th:field="*{instituteId}"
                            th:classappend="${#fields.hasErrors('instituteId')} ? 'is-invalid'">
                        <option value="" default>Выберите институт</option>
                        <option th:each="option: ${instituteOptions}" th:text="${option.text}"
                                th:value="${option.value}">
                        </option>
                    </select>
                    <div class="invalid-feedback" th:if="${#fields.hasErrors('instituteId')}"
                         th:errors="*{instituteId}">
                    </div>
                </div>

                <div class="form-group">
                    <label th:for="departmentId">Кафедра</label>
                    <select id="departmentId"
                            name="departmentId"
                            class="form-control"
                            th:field="*{departmentId}"
                            th:classappend="${#fields.hasErrors('departmentId')} ? 'is-invalid'">
                        <option value="" default>Выберите кафедру</option>
                        <option th:each="option: ${departmentsInInstitute}"
                                th:selected="${#strings.equals(option.value, #strings.toString(createDto.departmentId))}"
                                th:text="${option.text}"
                                th:value="${option.value}">
                        </option>
                    </select>

                    <script type="text/javascript">
                        $("#instituteId").change(departments);
                    </script>

                    <div class="invalid-feedback" th:if="${#fields.hasErrors('departmentId')}"
                         th:errors="*{departmentId}"/>
                </div>

                <div class="form-group">
                    <label th:for="teacherId">Куратор</label>
                    <select id="teacherId"
                            name="teacherId"
                            class="form-control"
                            th:field="*{teacherId}"
                            th:classappend="${#fields.hasErrors('teacherId')} ? 'is-invalid'">
                        <option value="" default>Выберите преподавателя</option>
                        <option th:each="option: ${teachersInDepartment}"
                                th:selected="${#strings.equals(option.value, #strings.toString(createDto.teacherId))}"
                                th:text="${option.text}"
                                th:value="${option.value}">
                        </option>
                    </select>

                    <script type="text/javascript">
                        $("#departmentId").change(teachers);
                    </script>

                    <div class="invalid-feedback" th:if="${#fields.hasErrors('teacherId')}"
                         th:errors="*{teacherId}"/>
                </div>

                <div class="form-group">
                    <label th:for="formedDate">Дата формирования</label>
                    <input type="date"
                           id="formedDate"
                           name="formedDate"
                           th:field="*{formedDate}"
                           th:classappend="${#fields.hasErrors('formedDate')} ? 'is-invalid'"
                           class="form-control"
                           placeholder="Введите дату">
                    <div class="invalid-feedback" th:if="${#fields.hasErrors('formedDate')}"
                         th:errors="*{formedDate}"/>
                </div>

                <button type="submit" class="btn btn-success">Добавить</button>

            </form>
        </div>
    </div>
</section>
<footer></footer>
</body>
</html>