<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{Layouts/Layout}"
      th:with="currentPage='groups/edit'">
<head>
    <meta charset="UTF-8">
    <title>Редактировать группу</title>
    <script src="/js/bootstrap-multiselect.js"></script>
    <link rel="stylesheet" href="css/bootstrap-multiselect.css" type="text/css"/>
    <script type="text/javascript" src="/js/dynamicOptions.js"></script>
    <script>
        $(document).ready(function () {
            $('#subjects').multiselect();
        });
    </script>
</head>
<body>
<header></header>
<section layout:fragment="content">
    <div class="container">

        <div class="row my-3 mx-1 mx-sm-0 d-flex align-items-center justify-content-between">
            <p class="h4 mb-0">Редактирование группы</p>
            <form th:action="@{/groups/delete/{id}(id=${updateDto.id})}" th:method="post">
                <button type="submit" class="btn btn-danger">Удалить</button>
            </form>
        </div>

        <div class="row">
            <form th:action="@{/groups/edit}" th:object="${updateDto}" th:method="post"
                  class="col-12 col-sm-10 col-md-8 col-lg-6">
                <input type="hidden" id="id" name="id" th:value="${updateDto.id}" class="form-control" hidden>

                <div class="form-group">
                    <label th:for="name">Название</label>
                    <input type="text"
                           id="name"
                           th:value="${updateDto.name}"
                           th:classappend="${#fields.hasErrors('name')} ? 'is-invalid'"
                           name="name"
                           class="form-control"
                           placeholder="Введите новое название">
                    <div class="invalid-feedback" th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></div>
                </div>

                <div class="form-group">
                    <label th:for="instituteId">Институт</label>
                    <select id="instituteId"
                            name="instituteId"
                            class="form-control"
                            th:field="*{instituteId}"
                            th:classappend="${#fields.hasErrors('instituteId')} ? 'is-invalid'">
                        <option th:each="option: ${instituteOptions}"
                                th:selected="${#strings.equals(option.value, #strings.toString(updateDto.instituteId))}"
                                th:text="${option.text}"
                                th:value="${option.value}">
                        </option>
                    </select>
                    <div class="invalid-feedback" th:if="${#fields.hasErrors('instituteId')}"
                         th:errors="*{instituteId}">
                    </div>
                </div>

                <div class="form-group">
                    <label th:for="departmentId">Кафедра</label>
                    <select id="departmentId"
                            name="departmentId"
                            class="form-control"
                            th:field="*{departmentId}"
                            th:classappend="${#fields.hasErrors('instituteId')} ? 'is-invalid'">
                        <option th:each="option: ${departmentsInInstitute}"
                                th:selected="${#strings.equals(option.value, #strings.toString(updateDto.departmentId))}"
                                th:text="${option.text}"
                                th:value="${option.value}">
                        </option>
                    </select>
                    <script type="text/javascript">
                        $("#instituteId").change(departments);
                    </script>
                    <div class="invalid-feedback" th:if="${#fields.hasErrors('departmentId')}"
                         th:errors="*{departmentId}">
                    </div>

                </div>

                <div class="form-group">
                    <label th:for="teacherId">Куратор</label>
                    <select id="teacherId"
                            name="teacherId"
                            class="form-control"
                            th:field="*{teacherId}"
                            th:classappend="${#fields.hasErrors('teacherId')} ? 'is-invalid'">
                        <option th:each="option: ${teachersInDepartment}"
                                th:text="${option.text}"
                                th:value="${option.value}">
                        </option>
                        <option th:selected="${currentTeacher.name}"
                                th:text="${currentTeacher.name}"
                                th:value="${currentTeacher.id}">
                        </option>
                    </select>
                    <div class="invalid-feedback" th:if="${#fields.hasErrors('teacherId')}"
                         th:errors="*{teacherId}">
                    </div>

                </div>


                <div class="form-group">
                    <label th:for="formedDate">Дата формирования</label>
                    <input type="date"
                           id="formedDate"
                           th:value="${updateDto.formedDate}"
                           th:classappend="${#fields.hasErrors('formedDate')} ? 'is-invalid'"
                           name="formedDate"
                           class="form-control"
                           placeholder="Введите дату">
                    <div class="invalid-feedback" th:if="${#fields.hasErrors('formedDate')}"
                         th:errors="*{formedDate}">
                    </div>
                </div>

                <div class="form-group">
                    <label>Предметы группы</label>
                    <select id="subjects" multiple="multiple" hidden
                            name="subjects"
                            class="form-control"
                            th:field="*{subjectsId}">
                        <option th:each="option: ${subjectsInDepartment}"
                                th:selected="${#strings.equals(option.value, #strings.toString(updateDto.subjectsId))}"
                                th:text="${option.text}"
                                th:value="${option.value}">
                        </option>
                    </select>
                </div>

                <button type="submit" class="btn btn-success">Сохранить</button>
            </form>
        </div>
    </div>
</section>
<footer></footer>
</body>
</html>