<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{Layouts/Layout}"
      th:with="currentPage='groups'">
<head>
    <title>Группы</title>
</head>
<body>
<section class="container" layout:fragment="content">
    <div class="row">
        <div class="w-100 my-3 mx-0 mx-sm-0 d-flex align-items-center justify-content-between">
            <p class="h4 mb-0">Группы</p>
            <a th:href="@{/groups/new}" class="btn btn-info float-right">Добавить</a>
        </div>
    </div>
    <div class="row bg-white">
        <table class="table table-bordered table-striped mb-0">
            <thead>
            <tr>
                <th scope="col">id</th>
                <th scope="col">Группа</th>
                <th scope="col">Дата создания</th>
                <th scope="col">Дата расформирования</th>
            </tr>
            </thead>
            <tbody>
            <tr th:if="${not #lists.isEmpty(groups)}" th:each="groups: ${groups}">
                <td th:text="${groups.id}"/>
                <td>
                    <a th:href="@{groups/view/{id}(id=${groups.id})}" th:text="${groups.name}"></a>
                </td>
                <td th:text="${#temporals.format(groups.formedDate, 'dd-MM-yyyy')}"/>
                <!--вывод даты физ. удаления-->
                <td th:text="${#temporals.format(groups.removedDate, 'dd-MM-yyyy')}"/>
                <!--TODO: поменять на дату фактического расформирования-->
            </tr>
            <tr th:if="${#lists.isEmpty(groups)}">
                <td colspan="4">
                    <div align="center">Нет результатов</div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</section>
</body>
</html>
