<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{Layouts/Layout}"
      th:with="currentPage='groups/view/' + ${group.id}">
<head>
    <meta charset="UTF-8">
    <title>Просмотр группы</title>

</head>
<body>
<header></header>
<section layout:fragment="content">
    <div class="container" th:object="${group}">

        <div class="row my-3 mx-1 mx-sm-0 d-flex align-items-center justify-content-between">
            <p class="h4 mb-0" th:text="*{name}"></p>
            <div class="mt-2">
                <a class="btn btn-info" th:href="@{/groups/edit/{id}(id=${id})}">Редактировать группу</a>
                <button id="btnGroupDrop1" type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false"> Отчеты
                </button>
                <div class="dropdown-menu" aria-labelledby="btnGroupDrop1">
                    <a class="dropdown-item" href="#">Посещаемость</a>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-12 col-sm-10 col-md-8 col-lg-6">
                <p th:text="'Институт - ' + *{instituteName}"></p>
                <p th:text="'Кафедра - ' + *{departmentName}"></p>
                <p th:text="'Дата формирования - '  + ${#temporals.format(group.formedDate, 'dd.MM.yyyy')}"></p>
                <p th:text="'Куратор - '  + *{teacherName}"></p>
            </div>
        </div>

        <div class="row mt-4">

            <div class="col-md-6">
                <p class="h5">Студенты</p>
                <table class="table table-bordered table-striped bg-white mb-0" id="studentsTable">
                    <thead>
                    <th scope="col">
                        <b>№</b>
                    </th>
                    <th scope="col">
                        <b>Ф.И.О.</b>
                    </th>
                    <th scope="col">
                        <b>Номер зачетной книжки</b>
                    </th>
                    </thead>
                    <tbody>
                    <tr th:if="${not #lists.isEmpty(students)}" th:each="student, state: ${students}">
                        <td th:text="${state.index +1}"></td>
                        <td th:text="${student.name}"></td>
                        <td th:text="${student.gradeBook}"></td>
                        </td>
                    </tr>
                    <tr th:if="${#lists.isEmpty(students)}">
                        <td colspan="3">
                            <div align="center">
                                В группе нет студентов!
                            </div>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>

            <div class="col-md-6">
                <p class="h5">Предметы</p>
                <table class="table table-bordered table-striped bg-white" id="subjectsTable">
                    <thead>
                    <th scope="col">
                        <b>Предмет</b>
                    </th>
                    <th scope="col">
                        <b>Преподаватель</b>
                    </th>
                    </thead>
                    <tbody>
                    <tr th:if="${not #lists.isEmpty(subjects)}" th:each="subject: ${subjects}">
                        <td th:text="${subject.name}"></td>
                        <td th:if="${#arrays.isEmpty(subject.getAllTeachersNames())}" th:text="'-'"></td>
                        <td th:if="${not #arrays.isEmpty(subject.getAllTeachersNames())}">
                            <p th:each="teacherName: ${subject.getAllTeachersNames()}"
                               th:text="${teacherName}" style="margin: auto">
                            </p>
                        </td>
                    </tr>
                    <tr th:if="${#lists.isEmpty(subjects)}">
                        <td colspan="2">
                            <div align="center">
                                В группе нет предметов!
                            </div>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>

        </div>
    </div>
</section>
<footer></footer>
</body>
</html>