<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{Layouts/Layout}"
      th:with="currentPage='lessons/new'">
<head>
    <meta charset="UTF-8">
    <title>Новое занятие</title>
    <script type="text/javascript" src="/js/dynamicOptions.js"></script>
</head>
<body>
<header></header>
<section layout:fragment="content">
    <div class="container">

        <div class="w-100 my-3 mx-0 mx-sm-0 d-flex align-items-center justify-content-between">
            <p class="h4 mb-0">Добавить новое занятие</p>
        </div>

        <div class="row">
            <form th:action="@{new}" th:object="${createDto}" th:method="post"
                  class="col-12 col-sm-10 col-md-8 col-lg-6">

                <div class="form-group">
                    <label th:for="instituteId">Институт</label>
                    <select id="instituteId"
                            name="instituteId"
                            class="form-control"
                            th:field="*{instituteId}"
                            th:classappend="${#fields.hasErrors('instituteId')} ? 'is-invalid'">
                        <option value="" default>Выберите институт</option>
                        <option th:each="option: ${instituteOptions}" th:text="${option.text}"
                                th:value="${option.value}">
                        </option>
                    </select>
                    <div class="invalid-feedback" th:if="${#fields.hasErrors('instituteId')}"
                         th:errors="*{instituteId}">
                    </div>
                </div>

                <div class="form-group">
                    <label th:for="departmentId">Кафедра</label>
                    <select id="departmentId"
                            name="departmentId"
                            class="form-control"
                            th:field="*{departmentId}"
                            th:classappend="${#fields.hasErrors('departmentId')} ? 'is-invalid'">
                        <option value="">Выберите кафедру</option>
                        <option th:each="option: ${departmentsInInstitute}"
                                th:selected="${#strings.equals(option.value, #strings.toString(createDto.departmentId))}"
                                th:text="${option.text}"
                                th:value="${option.value}">
                        </option>
                    </select>

                    <script type="text/javascript">
                        $("#instituteId").change(departments);
                    </script>

                    <div class="invalid-feedback" th:if="${#fields.hasErrors('departmentId')}"
                         th:errors="*{departmentId}"/>
                </div>

                <div class="form-group">
                    <label th:for="groupId">Группа</label>
                    <select id="groupId"
                            name="groupId"
                            class="form-control"
                            th:field="*{groupId}"
                            th:classappend="${#fields.hasErrors('groupId')} ? 'is-invalid'">
                        <option value="" default>Выберите группу</option>
                        <option th:each="option: ${groupsInDepartment}"
                                th:selected="${#strings.equals(option.value, #strings.toString(createDto.groupId))}"
                                th:text="${option.text}"
                                th:value="${option.value}">
                        </option>
                    </select>

                    <script type="text/javascript">
                        $("#instituteId").change(groups);
                        $("#departmentId").change(groups);
                    </script>
                    <div class="invalid-feedback" th:if="${#fields.hasErrors('groupId')}"
                         th:errors="*{groupId}"></div>
                </div>

                <div class="form-group">
                    <label th:for="subjectId">Предмет</label>
                    <select id="subjectId"
                            name="subjectId"
                            class="form-control"
                            th:field="*{subjectId}"
                            th:classappend="${#fields.hasErrors('subjectId')} ? 'is-invalid'">
                        <option value="" default>Выберите предмет</option>
                        <option th:each="option: ${subjectsInDepartment}"
                                th:selected="${#strings.equals(option.value, #strings.toString(createDto.subjectId))}"
                                th:text="${option.text}"
                                th:value="${option.value}">
                        </option>
                    </select>
                    <script type="text/javascript">
                        $("#instituteId").change(subjectsByGroupId);
                        $("#departmentId").change(subjectsByGroupId);
                        $("#groupId").change(subjectsByGroupId);
                    </script>
                    <div class="invalid-feedback" th:if="${#fields.hasErrors('subjectId')}"
                         th:errors="*{subjectId}"></div>
                </div>

                <div class="form-group">
                    <label th:for="teacherId">Преподаватель</label>
                    <select id="teacherId"
                            name="teacherId"
                            class="form-control"
                            th:field="*{teacherId}"
                            th:classappend="${#fields.hasErrors('teacherId')} ? 'is-invalid'">
                        <option value="" default>Выберите преподавателя</option>
                        <option th:each="option: ${teachersInDepartment}"
                                th:selected="${#strings.equals(option.value, #strings.toString(createDto.teacherId))}"
                                th:text="${option.text}"
                                th:value="${option.value}">
                        </option>

                    </select>
                    <script type="text/javascript">
                        $("#instituteId").change(teachersBySubjectId);
                        $("#departmentId").change(teachersBySubjectId);
                        $("#groupId").change(teachersBySubjectId);
                        $("#subjectId").change(teachersBySubjectId);
                    </script>
                    <div class="invalid-feedback" th:if="${#fields.hasErrors('teacherId')}"
                         th:errors="*{teacherId}"></div>
                </div>

                <div class="form-group">
                    <label th:for="date">Дата занятия</label>
                    <input type="date"
                           id="date"
                           name="date"
                           th:field="*{date}"
                           th:classappend="${#fields.hasErrors('date')} ? 'is-invalid'"
                           class="form-control"
                           placeholder="Введите дату занятия">
                    <div class="invalid-feedback" th:if="${#fields.hasErrors('date')}"
                         th:errors="*{date}"></div>
                </div>

                <div class="form-group">
                    <label th:for="time">Время занятия</label>
                    <input type="time"
                           id="time"
                           name="time"
                           th:field="*{time}"
                           th:classappend="${#fields.hasErrors('time')} ? 'is-invalid'"
                           class="form-control"
                           placeholder="Введите время занятия">
                    <div class="invalid-feedback" th:if="${#fields.hasErrors('time')}"
                         th:errors="*{time}"></div>
                </div>

                <div class="form-group">
                    <label th:for="auditorium">Аудитория</label>
                    <input type="text"
                           id="auditorium"
                           name="auditorium"
                           th:field="*{auditorium}"
                           th:classappend="${#fields.hasErrors('auditorium')} ? 'is-invalid'"
                           class="form-control"
                           placeholder="Введите аудиторию">
                    <div class="invalid-feedback" th:if="${#fields.hasErrors('auditorium')}"
                         th:errors="*{auditorium}"/>
                </div>

                <button type="submit" class="btn btn-success">Добавить</button>

            </form>
        </div>
    </div>
</section>
<footer></footer>
</body>
</html>
