<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{Layouts/Layout}"
      th:with="currentPage='lessons/edit'">
<head>
    <meta charset="UTF-8">
    <title>Редактировать занятие</title>
    <script type="text/javascript" src="/js/dynamicOptions.js"></script>
</head>
<body>
<header></header>
<section layout:fragment="content">
    <div class="container">

        <div class="row my-3 mx-1 mx-sm-0 d-flex align-items-center justify-content-between">
            <p class="h4 mb-0">Редактирование занятия</p>
            <form th:action="@{/lessons/delete/{id}(id=${updateDto.id})}" th:method="post">
                <button type="submit" class="btn btn-danger">Удалить</button>
            </form>
        </div>

        <div class="row">
            <form th:action="@{/lessons/edit}" th:object="${updateDto}" th:method="post"
                  class="col-12 col-sm-10 col-md-8 col-lg-6">
                <input type="hidden" id="id" name="id" th:value="${updateDto.id}" class="form-control" hidden>

                <div class="form-group">
                    <label th:for="instituteId">Институт</label>
                    <select id="instituteId"
                            name="instituteId"
                            class="form-control"
                            th:field="*{instituteId}"
                            disabled="disabled">
                        <option th:value="${updateDto.instituteId}" th:text="${updateDto.instituteName}"
                                default></option>
                    </select>

                </div>

                <div class="form-group">
                    <label th:for="departmentId">Кафедра</label>
                    <select id="departmentId"
                            name="departmentId"
                            class="form-control"
                            th:field="*{departmentId}"
                            disabled="disabled">
                        <option th:value="${updateDto.departmentId}" th:text="${updateDto.departmentName}"
                                default></option>
                    </select>

                </div>

                <div class="form-group">
                    <label th:for="groupId">Группа</label>
                    <select id="groupId"
                            name="groupId"
                            class="form-control"
                            th:field="*{groupId}"
                            disabled="disabled">
                        <option th:value="${updateDto.groupId}" th:text="${updateDto.groupName}" default></option>
                    </select>

                </div>

                <div class="form-group">
                    <label th:for="subjectId">Предмет</label>
                    <select id="subjectId"
                            name="subjectId"
                            class="form-control"
                            th:field="*{subjectId}"
                            disabled="disabled">
                        <option th:value="${updateDto.subjectId}" th:text="${updateDto.subjectName}" default></option>
                    </select>
                </div>

                <div class="form-group">
                    <label th:for="date">Дата занятия</label>
                    <input type="date"
                           id="date"
                           name="date"
                           th:field="*{date}"
                           th:classappend="${#fields.hasErrors('date')} ? 'is-invalid'"
                           class="form-control"
                           placeholder="Введите дату занятия">
                    <div class="invalid-feedback" th:if="${#fields.hasErrors('date')}"
                         th:errors="*{date}"></div>
                </div>

                <div class="form-group">
                    <label th:for="time">Время занятия</label>
                    <input type="time"
                           id="time"
                           name="time"
                           th:field="*{time}"
                           th:classappend="${#fields.hasErrors('time')} ? 'is-invalid'"
                           class="form-control"
                           placeholder="Введите время занятия">
                    <div class="invalid-feedback" th:if="${#fields.hasErrors('time')}"
                         th:errors="*{time}"></div>
                </div>

                <div class="form-group">
                    <label th:for="auditorium">Аудитория</label>
                    <input type="text"
                           id="auditorium"
                           name="auditorium"
                           th:field="*{auditorium}"
                           th:classappend="${#fields.hasErrors('auditorium')} ? 'is-invalid'"
                           class="form-control"
                           placeholder="Введите аудиторию">
                    <div class="invalid-feedback" th:if="${#fields.hasErrors('auditorium')}"
                         th:errors="*{auditorium}"/>
                </div>

                <button type="submit" class="btn btn-success">Сохранить</button>
            </form>
        </div>
    </div>
</section>
<footer></footer>
</body>
</html>