<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{Layouts/Layout}"
      th:with="currentPage='lessons'">
<head>
    <title>Занятия</title>
</head>
<body>
<section class="container" layout:fragment="content">
    <div class="row">
        <div class="w-100 my-3 mx-1 mx-sm-0 d-flex align-items-center justify-content-between">
            <p class="h4 mb-0">Занятия</p>
            <a th:href="@{/lessons/new}" class="btn btn-info float-right">Добавить</a>
        </div>
    </div>
    <div class="row bg-white">
        <table class="table table-bordered table-striped mb-0">
            <thead>
            <tr>
                <th scope="col">id</th>
                <th scope="col">Предмет</th>
                <th scope="col">Группа</th>
                <th scope="col">Дата</th>
                <th scope="col">Аудитория</th>
            </tr>
            </thead>
            <tbody>
            <tr th:if="${not #lists.isEmpty(lessons)}" th:each="lessons: ${lessons}">
                <td>
                    <a th:href="@{lessons/view/{id}(id=${lessons.id})}" th:text="${lessons.id}"></a>
                </td>
                <td th:text="${lessons.name}"/>
                <td th:text="${lessons.groupName}"/>
                <td th:text="${#temporals.format(lessons.date, 'dd-MM-yyyy HH:mm')}"/>
                <td th:text="${lessons.auditorium}"/>
            </tr>
            <tr th:if="${#lists.isEmpty(lessons)}">
                <td colspan="5">
                    <div align="center">Нет результатов</div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</section>
</body>
</html>
