<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{Layouts/Layout}"
      th:with="currentPage='lessons/view/' + ${lesson.id}">
<head>
    <meta charset="UTF-8">
    <meta th:name="_csrf" th:content="${_csrf.token}"/>
    <meta th:name="_csrf_header" th:content="${_csrf.headerName}"/>
    <script type="text/javascript" src="/js/dynamicOptions.js"></script>
    <script type="text/javascript" src="/js/reportDownloader.js"></script>
    <script>
        $(function () {
            var token = $("meta[name='_csrf']").attr("content");
            var header = $("meta[name='_csrf_header']").attr("content");
            $(document).ajaxSend(function (e, xhr, options) {
                xhr.setRequestHeader(header, token);
            });
        });
    </script>
    <title>Просмотр занятия</title>

</head>
<body>
<header></header>
<section layout:fragment="content">
    <div class="container">

        <div class="row my-3 mx-1 mx-sm-0 d-flex align-items-center justify-content-between">
            <p class="h4 mb-0">Просмотр занятия</p>
        </div>

        <div class="row" th:object="${lesson}">
            <div class="col-12 col-sm-10 col-md-8 col-lg-6">
                <p th:text="'Институт - ' + *{instituteName}"></p>
                <p th:text="'Кафедра - ' + *{departmentName}"></p>
                <p th:text="'Предмет - ' + *{subjectName}"></p>
                <p th:text="'Группа - ' + *{groupName}"></p>
                <p th:text="'Время проведения - ' + ${#temporals.format(lesson.date, 'dd-MM-yyyy HH:mm')}"></p>
                <p th:text="'Аудитория - ' + *{auditorium}"></p>
            </div>
            <input type="hidden" id="lessonId" name="lessonId" th:value="${lesson.id}" class="form-control" hidden>
            <input type="hidden" id="subjectId" name="subjectId" th:value="${lesson.subjectId}" class="form-control"
                   hidden>
            <input type="hidden" id="groupId" name="groupId" th:value="${lesson.groupId}" class="form-control" hidden>
        </div>

        <div class="form-group">
            <div class="row bg-white">
                <table class="table table-bordered table-striped mb-0" id="studentTable">
                    <thead>
                    <th scope="col">
                        <b>Ф.И.О.</b>
                    </th>
                    <th scope="col">
                        <b>Присутствовал</b>
                    </th>
                    </thead>
                    <tbody>
                    <tr th:if="${not #lists.isEmpty(attendances)}" th:each="attendance: ${attendances}">
                        <td th:text="${attendance.studentName}"></td>
                        <td>
                            <input type="checkbox" th:checked="${attendance.attendanceStatus}">
                        </td>
                        <td th:text="${attendance.studentId}" hidden>
                        </td>
                    </tr>
                    <tr th:if="${#lists.isEmpty(attendances)}">
                        <td colspan="2">
                            <div align="center" onclick="cleanTable(); studentsTable()">
                                Выставить посещаемость
                            </div>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div>
            <button class="btn btn-success" type="button" onclick="findCheckedRows()">Отметить</button>
            <a class="btn btn-info" th:href="@{/lessons/edit/{id}(id=${lesson.id})}">Редактировать занятие</a>
            <button id="btnGroupDrop1" type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false"> Отчеты
            </button>
            <div class="dropdown-menu" aria-labelledby="btnGroupDrop1">
                <a class="dropdown-item" onclick="reportDownloader($('#lessonId').val())">Посещаемость</a>
            </div>
        </div>
    </div>
</section>
<footer></footer>
</body>
</html>