<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{Layouts/Layout}"
      th:with="currentPage='teachers/edit'">
<head>
    <meta charset="UTF-8">
    <title>Редактирование данных преподавателя</title>
    <script src="/js/bootstrap-multiselect.js"></script>
    <link rel="stylesheet" href="css/bootstrap-multiselect.css" type="text/css"/>
    <script type="text/javascript" src="/js/dynamicOptions.js"></script>
    <script>
        $(document).ready(function () {
            $('#subjects').multiselect();
        });
    </script>
</head>
<body>
<header></header>
<section layout:fragment="content">
    <div class="container">

        <div class="row my-3 mx-1 mx-sm-0 d-flex align-items-center justify-content-between">
            <p class="h4 mb-0">Редактирование данных преподавателя</p>
        </div>

        <div class="row">
            <form th:action="@{/teachers/edit}" th:object="${teacher}" th:method="post"
                  class="col-12 col-sm-10 col-md-8 col-lg-6">
                <input type="hidden" id="id" name="id" th:value="${teacher.id}" class="form-control" hidden>

                <div class="form-group">
                    <label th:for="name">Ф.И.О.</label>
                    <input type="text"
                           id="name"
                           th:value="${teacher.name}"
                           th:classappend="${#fields.hasErrors('name')} ? 'is-invalid'"
                           name="name"
                           class="form-control"
                           placeholder="Введите новое Ф.И.О.">
                    <div class="invalid-feedback" th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></div>
                </div>

                <div class="form-group">
                    <label th:for="instituteId">Институт</label>
                    <select id="instituteId"
                            name="instituteId"
                            class="form-control"
                            th:field="*{instituteId}"
                            th:classappend="${#fields.hasErrors('instituteId')} ? 'is-invalid'">
                        <option th:each="option: ${instituteOptions}"
                                th:selected="${#strings.equals(option.value, #strings.toString(teacher.instituteId))}"
                                th:text="${option.text}"
                                th:value="${option.value}">
                        </option>
                    </select>
                    <div class="invalid-feedback" th:if="${#fields.hasErrors('instituteId')}"
                         th:errors="*{instituteId}">
                    </div>
                </div>

                <div class="form-group">
                    <label th:for="departmentId">Кафедра</label>
                    <select id="departmentId"
                            name="departmentId"
                            class="form-control"
                            th:field="*{departmentId}"
                            th:classappend="${#fields.hasErrors('departmentId')} ? 'is-invalid'">
                        <option th:each="option: ${departmentsInInstitute}"
                                th:selected="${#strings.equals(option.value, #strings.toString(teacher.departmentId))}"
                                th:text="${option.text}"
                                th:value="${option.value}">
                        </option>
                    </select>
                    <script type="text/javascript">
                        $("#instituteId").change(departments);
                    </script>
                    <div class="invalid-feedback" th:if="${#fields.hasErrors('departmentId')}"
                         th:errors="*{departmentId}"></div>
                </div>

                <div class="form-group">
                    <label>Должность</label>
                    <select id="position"
                            name="position"
                            class="form-control"
                            th:field="*{position}" th:default="${teacher.position}"
                            th:classappend="${#fields.hasErrors('position')} ? 'is-invalid'">
                        <option th:value="'ASSISTANT'" th:text="'Ассистент'"/>
                        <option th:value="'SENIOR_LECTURER'" th:text="'Старший преподаватель'"/>
                        <option th:value="'ASSISTANT_PROFESSOR'" th:text="'Доцент'"/>
                        <option th:value="'PROFESSOR'" th:text="'Профессор'"/>
                    </select>
                    <div class="invalid-feedback" th:if="${#fields.hasErrors('position')}"
                         th:errors="*{position}"></div>
                </div>

                <div class="form-group">
                    <label>Профильные предметы</label>
                    <select id="subjects" multiple="multiple" hidden
                            name="subjects"
                            class="form-control"
                            th:field="*{subjectsId}">
                        <option th:each="option: ${subjectsInDepartment}"
                                th:selected="${#strings.equals(option.value, #strings.toString(teacher.subjectsId))}"
                                th:text="${option.text}"
                                th:value="${option.value}">
                        </option>
                    </select>
                </div>

                <div class="form-group">
                    <label th:for="groupsId">Курируемые группы</label>
                    <select id="groupId"
                            name="groupId"
                            class="form-control"
                            th:field="*{groupId}"
                            th:classappend="${#fields.hasErrors('groupId')} ? 'is-invalid'">
                        <option value="" default>Выберите группу</option>
                        <option th:each="option: ${groupsInDepartment}" th:text="${option.text}"
                                th:value="${option.value}">
                        </option>
                    </select>
                    <div class="invalid-feedback" th:if="${#fields.hasErrors('groupId')}" th:errors="*{groupId}"></div>
                </div>

                <button type="submit" class="btn btn-success">Сохранить</button>
            </form>
        </div>
    </div>
</section>
<footer></footer>
</body>
</html>