<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{Layouts/Layout}"
      th:with="currentPage='teachers'">
<head>
    <title>Преподаватели</title>
</head>
<body>
<section class="container" layout:fragment="content">
    <div class="row">
        <div class="w-100 my-3 mx-1 mx-sm-0 d-flex align-items-center justify-content-between">
            <p class="h4 mb-0">Преподаватели</p>
        </div>
    </div>
    <div class="row bg-white">
        <table class="table table-bordered table-striped mb-0">
            <thead>
            <tr>
                <th scope="col">id</th>
                <th scope="col">ФИО</th>
                <th scope="col">Название кафедры</th>
                <th scope="col">Должность</th>
            </tr>
            </thead>
            <tbody>
            <tr th:if="${not #lists.isEmpty(teachers)}" th:each="teacher: ${teachers}">
                <td th:text="${teacher.id}"></td>
                <td>
                    <a th:href="@{teachers/edit/{id}(id=${teacher.id})}" th:text="${teacher.name}"></a>
                </td>
                <td th:text="${teacher.departmentName}"></td>
                <td th:text="${teacher.position}"></td>
            </tr>
            <tr th:if="${#lists.isEmpty(teachers)}">
                <td colspan="4">
                    <div align="center">Нет результатов</div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</section>
</body>
</html>
