<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{Layouts/Layout}"
      th:with="currentPage='assessment/new/taskId/'+ ${task.id}">
<head>
    <meta charset="UTF-8">
    <title>Задание оценки</title>
    <script type="text/javascript" src="/js/dynamicOptions.js"></script>
</head>
<body>
<header></header>
<section layout:fragment="content">
    <div class="container">
        <div class="w-100 my-3 mx-0 mx-sm-0 d-flex align-items-center justify-content-between">
            <p class="h4 mb-0">Задать оценку</p>
        </div>
        <div class="row">
            <form th:action="@{/assessments/set/taskId}" th:object="${dto}" th:method="post"
                  class="col-12 col-sm-10 col-md-8 col-lg-6">

                <input hidden th:value="${subjectId}" id="subjectId" name="subjectId"/>
                <input hidden th:value="${task.id}" id="taskId" name="taskId"/>

                <div class="form-group">
                    <label th:for="groupId">Группа</label>
                    <select id="groupId"
                            name="groupId"
                            class="form-control"
                            th:field="*{groupId}"
                            th:classappend="${#fields.hasErrors('groupId')} ? 'is-invalid'"
                    >
                        <option value="" default>Выберите группу</option>
                        <option th:each="option: ${groupsOptions}" th:text="${option.text}"
                                th:value="${option.value}">
                        </option>
                    </select>
                    <div class="invalid-feedback" th:if="${#fields.hasErrors('groupId')}"
                         th:errors="*{groupId}">
                    </div>
                </div>

                <div class="form-group">
                    <label th:for="studentId">Студент</label>
                    <select id="studentId"
                            name="studentId"
                            class="form-control"
                            th:field="*{studentId}"
                            th:classappend="${#fields.hasErrors('studentId')} ? 'is-invalid'">
                        <option value="" hidden>Список студентов</option>
                    </select>

                    <script type="text/javascript">
                        $("#groupId").change(studentsByGroupId);
                    </script>

                    <div class="invalid-feedback" th:if="${#fields.hasErrors('studentId')}"
                         th:errors="*{studentId}"></div>
                </div>

                <div class="form-group">
                    <label th:for="name">Оценка</label>
                    <input type="text"
                           id="score"
                           name="score"
                           th:field="*{score}"
                           th:classappend="${#fields.hasErrors('score')} ? 'is-invalid'"
                           class="form-control"
                           placeholder="Введите оценку">
                    <div class="invalid-feedback" th:if="${#fields.hasErrors('score')}"
                         th:errors="*{score}"/>
                </div>

                <button type="submit" class="btn btn-success" id="create-subject-button">Добавить</button>
            </form>
        </div>
    </div>
</section>
<footer></footer>
</body>
</html>